//Panel
.panel {
   background: none;
   border: $border-none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   padding: 0 5px !important;
   margin-bottom: 10px;
}

.panel-default>.panel-heading {
   border-top: $border-result;
   border-bottom: $border-result;
   color: rgb(142, 113, 169);
   margin-bottom: 5px;
}

.panel-body {
   padding: 0 3px;

  #slogan {
     font-size: 50px;
     font-weight: bold;
  }
}

.panel-headless {
   padding-top: 0px;
}


.headless {
   margin-top: -35px;
}

hr {
   border: $border-zero;
   height: 1px;
   background: #333;
   background-image: -webkit-linear-gradient(left, #fff, #58595B, #fff);
   background-image: -moz-linear-gradient(left, #fff, #58595b, #fff);
   background-image: -ms-linear-gradient(left, #fff, #58595B, #fff);
   background-image: -o-linear-gradient(left, #fff, #58595B, #fff);
}

//Container
#site-container {
    flex-grow: 1;
    padding-top: 10px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.active {
   font-weight: bold !important;
}

#tier1 {
   background-color: $color-primary;
}

#tier2 {
   background-color: $color-orange;
}

#tier3 {
   background-color: $color-blue;
}

#settingsbtn {
   margin-left: 0;
   /*used to separate the settings button from the musician notification button
in full view */
}

// Foot Nav Styles
.footNav {

  li {
    margin-bottom: 17px;
    }

  a:hover {
     /* background-color: rgba(); */
  }
}

// drag n drop / browse
.pre-dnd {
   max-height: 100%;
   max-width: 100%;
   margin: auto;
}

.dnd-area {
   border: $border-tag-dashed;
   background: #f5f5f8;
}

.tag-box,
.tag {
   display: inline;
}

.del {

  .newTagElmnt {
    /*border: 1px solid $color-dark-gray-2;*/
    min-height: 31px;
    padding: 5px 12px;
  }
}

/*.del .newTagElmnt:focus { border: 1px solid $color-dark-purple-2;
}*/

.input-member {
   padding: 5px 12px;
}

.dash-member {
   margin: 5px 0px;
   margin-right: 2px;
}

.del-member {
   margin: 9px 0px;
   margin-left: 10px;
}

.marg-top-25 {
   margin-top: 25px;
}

/*
#marquee {
   font-weight: bold;
   list-style-type: none;
   padding: 0;
   margin-bottom: 0px;
   text-align: center;
}
*/

.tour-close-tip {
   font-size: 22px !important;
}

.tour-tip {
   z-index: 1000;
}

.tour-arrow.tt-bottom {
   top: -27px !important;
}

.toast-top-center {
   top: 60px;
   right: 0;
   width: 100%;
}


