/***Responsiveness of the Site***/

//remove padding from bootstrap columns
iframe {
	width: 100%;
	z-index: 100%;
	max-height: 300px;
}

*{
	font-family: $font-base;
}

:focus {
	outline: none !important;

}

::-moz-focus-inner {
	border: $border-zero;
}

html {
	body {
		margin: 0;
		min-height: 100%;
		height: 100%;
	}
}

.container {
	padding-left: 7px;
	padding-right: 7px;

	@media (min-width: $break-small) {
		width: 700px;
	}

	@media (min-width: $break-medium) {
		width: 800px;
	}

	@media (min-width: $break-large) {
		width: 920px;
	}
}

#search-container {
	@media (min-width: $break-small) {
		width: 50%;
		margin-top: 8px;
	}
}

#top-padding {
	@media (min-width: $break-small) {
		display: none;
	}
}

.artist-profile-right-column {
	@media (min-width: $break-small) {
		float: right;
	}
}

// truncating multiple lines
.block-ellipsis {
	display: block;
	max-width: 100%;
	height: 5.25em;
	margin: 0 auto;
	font-size: 1em;
	line-height: 1.75em;
	overflow: hidden;
	margin-top: 9px;
	margin-left: 0px;

	&:before {
		content: "";
		float: left;
		width: 5px;
		height: 5.25em;
		margin-left: 0px;
	}
}

.mainTxt {
   float: right;
   width: 100%;
   margin-left: -5px;
}

.realend {
   float: right;
   position: relative;
   width: 100px;
   height: 1.75em;
   background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 5%);
   text-align: right;
   margin-left: -95px;
   padding-right: 5px;
   left: 100%;
   top: -1.75em;
   color: inherit;
}

// CSS for tags in search results to avoid conflict with tags in concert stream
button {

  .art-card-tags {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
