/***Parameters***/

//Colors
$color-primary:			#a285bd; //rgb(162,133,189)
$color-primary-1:		#a285bdc7; //rgb(162,133,189,.78)
$color-secondary:		#b699d1; //rgb(182, 153, 209)
$color-purple:			#8e71a9; //rgb(142, 113, 169)
$color-dark-purple:		#8e71a9c7; //rgb(142, 113, 169, 0.78)
$color-dark-purple-2:	#8e71a9bf; //rgb(142, 113, 169, 0.75)
$color-purple-light:	#76628a;
$color-white:			#fff; //white
$color-light:			#ebe2f3;
$color-light-2:			#f5f5f8; //rgb(245, 245, 248)
$color-light-3:			#e1e1e1; //rgb(255, 255, 255)
$color-gray:			#808080; //gray
$color-dimgray:			#696969; //dimgray
$color-dark-gray:		#58595b; //rgb(88, 89, 91)
$color-dark-gray-2:		#58595bbf; //rgb(88, 89, 91, 0.75)
$color-dark-gray-3:		#58595b80; //rgb(88, 89, 91, 0.5)
$color-dark-gray-4:		#58595b4d; //rgb(88, 89, 91, 0.3)
$color-dark-gray-5:		#58595b33; //rgb(88, 89, 91, 0.2)
$color-black:			#000; //black
$color-black-light:		#e1e1e100; //rgb(255, 255, 255, 0)
$color-black-light-2:	#333;
$color-transparent:		#00000080;
$color-dark-blue:		#85d3e680; //rgb(133, 211, 230, 0.5)
$color-blue:			#85d3e6; //rgb(133, 211, 230)
$color-lightblue:		#add8e6; //lightblue
$color-red:				#ff0000; //red
$color-red-light:		#ed4337;
$color-red-light-2:		#f277a2;
$color-orange:			#f9ae5f;

//Borders
$border-zero:			0 !important;
$border-none:			none;
$border-primary:		1.5px solid #a285bd;
$border-primary-2:		1px solid #a285bd;
$border-result:			1px solid #b699d1;
$border-result-dashed:	2px dashed #b699d1;
$border-result-dashed1:	1px dashed #b699d1;
$border-result-more:	1.5px solid #b699d1;
$border-menu:			1px solid #ebe2f3;
$border-form:			2px solid;
$border-tag:			1px solid #58595bbf;
$border-tag-dashed:		1px dashed #58595b80;
$border-white:			1px solid #fff;
$border-black:			1px solid #000;

//Media  Queries
$break-small:			768px;
$break-medium:			992px;
$break-large:			1200px;

//Font Family
$font-base:				'Lato', sans-serif;
$font-title:			helvetica, sans-serif;
$font-subtitle:			helvetica, arial, sans-serif;
$font-vinyl:			'vinylcuts', helvetica, sans-serif;

// Font Sizes
$font-size-xlarge:      1.3em;
$font-size-large:       1.1em;
$font-size-regular:     0.9em;
$font-size-small:       0.8em;
$font-size-xsmall:      0.7em;
