/*** Styles ***/

//Input styles 
.input-group {
    z-index: 0;
    
   .form-control {
       z-index: 0;
   }
}

//float styles
.float-right {
   float: right;
}

.float-left {
   float: left;
}

// Type Styles
h1 {
   color: $color-dark-gray;
   font-family: $font-subtitle;
   font-size: 70px;
}

h2 {
   color: $color-dark-gray;
   font-family: $font-title;
}

h3 {
   color: $color-dark-gray;
   font-family: $font-title;
   font-weight: bold;
}

h4 {
   color: $color-dark-gray;
   font-family: $font-title;
   font-weight: bold;
}

h5 {
   color: $color-dark-gray;
   font-family: $font-title;
}

h6 {
   color: $color-dark-gray;
   font-family: $font-title;
}

p {
   color: $color-dark-gray;
   font-family: $font-title;
}

span {
   color: $color-dark-gray;
}

//Button Styles
.btn {
   border-width: 1.5px;
   padding: 0px;
   font-weight: 600;
   white-space: normal;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   border-color: $color-primary;
}

.btn:active, .btn.active {
  -webkit-box-shadow: $border-none;
  box-shadow: $border-none;
}

.btn-default {
    color: $color-gray;
}

.btn-lg {
   height: 34px;
   margin-top: 2px;
   margin-bottom: 2px;
}

.btn-primary {
   background-color: $color-secondary;
   border-color: $color-purple-light;
   color: $color-white;

   &:hover {
      background-color: $color-primary;
      border-color: $color-purple;
   }

   &:visited {
      background-color: $color-primary;
      border-color: $color-purple;
   }

   &:focus {
      background-color: $color-primary;
      border-color: $color-purple;
      -webkit-box-shadow: 0 0 0 8 $color-purple;
      -moz-box-shadow: 0 0 0 8 $color-purple;
      box-shadow: 0 0 0 8 $color-purple;
   }
}

.btn-tag-del {
   display: inline-block;
   line-height: 12px;
   padding: 1px;
   margin-left: 1px;
   margin-right: 2px;
}

.btn-follow {
   height: 30px;
   font-size: 16px;
   font-weight: bold;
}

.follow-container {
   margin: 5px 0;
}

.follow-menu {
    margin-top: 3px;
}


//Major Info Styles

.majorInfo {
   margin-bottom: 25px;
}

//content editable style
[contenteditable=true] {
  /* background-color: $color-dark-blue;*/
  border: $border-result-dashed;
  min-height: 1em;
  min-width: 15px;
  /* vertical-align: text-bottom;*/
}

[contenteditable=true].ng-invalid.ng-dirty:not(.ng-pending):not(:focus) {
   /* border: 2px;
*/
   border-radius: 0px;
   border-color: $color-red-light;
   box-shadow: 0 0 10px $color-red-light;
}

.ILblock {
   display: inline-block;
}

.no-dot {
   list-style-type: $border-none;
}

.tag {
    @include border-radius(5px);
    border: $border-primary-2;
    background: $color-white;
    float: left;
    font-size: $font-size-small;
    padding: 1px 2px;
    margin: 1px;

    a {
        color: $color-primary;
    }
    
    a.btn-tag-del {
        color: $color-white;
    }
}

.tag-box {
    overflow: auto;
    float: left;
}

.newTagElmnt {
   overflow: hidden;
   width: auto;
   height: 100%;
   min-height: 24px;
   min-width: 24px;
}

//Link Styles
a {
   color: $color-primary;
   text-decoration: $border-none;

   &:active {
      color: $color-red-light-2;
      text-decoration: $border-none;
   }

   &:hover {
      color: $color-orange;
      text-decoration: $border-none;
      cursor: pointer;
   }

   &:visited {
      color: $color-red-light-2;
      text-decoration: $border-none;
   }
}

// Feedback Styles 
.feedbackTag {
   width: 100px;
   float: right;
   text-align: center;
   /* background-color: $color-dark-gray-4; */
   padding: 2px;
   padding-top: 2px;
   position: absolute;
   right: -40px;
   top: 109px;

   &:hover {
      /* background-color:   $color-dark-gray-5 */
   }
}

//Img Styles
img.main {
   width: 100%;
   max-height: 250px;
}

.thumbnail {
   border: 0;
}

//noembed styles
.noembed-meta-info {
   display: $border-none;
}

[no-embed] {
   width: 100%;
}

