<tour step="currentStep"
    tour-complete="done()"
    post-tour="closed()"
    on-show="show()">
   <virtual-step tourtip="Welcome to your artist profile! This is the first page most fans see so pick a good picture and video!"

       tourtip-title="Welcome to your artist profile"
       tourtip-element="#artistProfileBtn"
       tourtip-placement="bottom"></virtual-step>
   <virtual-step tourtip="The page for promoters, venues, and all those other folks. Make sure to fill out your contact information."

       tourtip-title="Bio page"
       tourtip-placement="bottom"
       tourtip-element="#artistBioBtn"></virtual-step>
   <virtual-step tourtip="Click here to manage concert invitations, add and remove admins, or delete your profile (but please don't!)"

       tourtip-title="Artist settings"
       tourtip-placement="bottom"
       tourtip-element="#artistSettingsBtn">
   </virtual-step>
   <virtual-step tourtip="Change your name, location, members and all that. Remember to save!"

       tourtip-title="Edit page"
       tourtip-placement="bottom"
       on-show="edit()"
       user-source-scope="true"
       tourtip-element="#editArtistBtn"></virtual-step>
   <virtual-step tourtip="This is your introduction video. It's featured on your profile and on any event you are a part of so make it a good one!"

       tourtip-title="Video"
       tourtip-placement="top"
       user-source-scope="true"
       tourtip-element="#profileVideoPanel"
       on-proceed="cancel()"></virtual-step>
</tour>
