<tour step="currentStep"
    tour-complete="done()"
    post-tour="closed()">
   <virtual-step tourtip="Hello! We're going to take a short tour to show you around!"
       tourtip-title="Welcome to TuneCakes"
       tourtip-element=".navbar-brand"
       tourtip-placement="bottom"></virtual-step>
   <virtual-step tourtip="There's three things you can track: concerts, releases, and media. When an artist posts something you're tracking, you receive a notification here."
       tourtip-title="Notifications"
       tourtip-placement="bottom"
       user-source-scope="true"
       on-show="btn.isopen = !btn.isopen"
       tourtip-offset-vertical="25"
       tourtip-element="#notifButton"></virtual-step>
   <virtual-step tourtip="Change your account info, create an artist, or log out."
       tourtip-title="Account settings"
       tourtip-placement="bottom"
       user-source-scope="true"
       tourtip-offset-vertical="75"
       on-show="btn.isopen = !btn.isopen"
       tourtip-element="#settingsButton"></virtual-step>
   <virtual-step tourtip="Use these buttons to check out artists and concerts near you. The feed button will show you any releases, events, or other new info for artists that you choose to follow"
       tourtip-title="Activity feed"
       tourtip-placement="bottom"
       tourtip-offset-horizontal="150"
       tourtip-element="#feed_artists_button"></virtual-step>
</tour>
