<div>
   <form class="form-horizontal"
       role="form"
       name="settingsForm"
       autocomplete="on"
       ng-model-options="{updateOn: 'blur'}"
       tc-validate="user"
       tc-resource="UserFactory"
       tc-validate-id="{{user.id}}">

      <!-- Email field -->
      <div class="form-group">
         <label class="col-sm-4 control-label">
            Update Email
         </label>

         <div class="col-sm-8">
            <input type="email"
                class="form-control input-text"
                ng-model="user.email"
                name="email"
                autocomplete="on"
                autofocus>
         </div>
      </div>

      <!-- Previous Password field -->
      <div class="form-group">
         <label class="col-sm-4 control-label">
            Current Password
         </label>

         <div class="col-sm-8">
            <input type="password"
                class="form-control input-text"
                name="password"
                ng-model="user.password">
            </p>
         </div>
      </div>

      <!-- New Password field -->
      <div class="form-group">
         <label class="col-sm-4 control-label">
            Update Password
         </label>

         <div class="col-sm-8">
            <input type="password"
                class="form-control input-text"
                name="newpassword"
                ng-model="user.newpassword">
            </p>
         </div>
      </div>

      <!-- Password confirm -->
      <div class="form-group">
         <label class="col-sm-4 control-label">
            Confirm Password
         </label>

         <div class="col-sm-8">
            <input type="password"
                class="form-control input-text"
                ng-model="password_verify"
                name="pass_verify"
                match="user.newpassword">
         </div>
      </div>

      <!-- Zip Code -->
      <div class="form-group">
         <label class="col-sm-4 control-label">
            Update Zip Code
         </label>

         <div class="col-sm-8">
            <input type="text"
                class="form-control input-text"
                name="zip"
                ng-model="user.zip"
                autocomplete="on">
         </div>
      </div>

      <!-- Submit button -->
      <div class="form-group">
         <div class="col-sm-offset-4 col-sm-10">
            <button type="submit"
                class="btn btn-success"
                data-ng-click="submit()">Update</button>
         </div>
      </div>
   </form>

   <button class="btn btn-danger col-xs-push-2 col-xs-8" ng-click="deleteAccount()">
      Delete My Account
   </button>

</div>
