<div class="col-sm-6">
    <form class="form-horizontal" role="form">

        <!-- Last.fm username -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Last.fm username</label>

            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       ng-model="Diego"
                       autofocus>
            </div>
        </div>

        <!-- Spotify username -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Spotify username</label>

            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       ng-model="Diego">
            </div>
        </div>

        <!-- Pandora username -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Facebook username</label>

            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       ng-model="Diego">
            </div>
        </div>

        <!-- Submit button -->
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-success" ng-click="saveData()">Pull!</button>
            </div>
        </div>

    </form>
</div>