<div class="col-xs-12 col-sm-6">
    <panel>
        <h3 class="col-xs-12 text-center">I'm an artist!</h3>
        <h5>
            Create a new Tunecakes account with an artist profile.
            You can do everything the fan account does plus manage your artist profile.
            Add one or more artist profiles anytime, even if you don't do it now.
            Click the artist cupcake below to get started.
        </h5>
        <a ui-sref="parent.new_artist">
            <img class="main" ng-src="/img/mlogol.svg" />
        </a>
    </panel>
</div>
<div class="col-xs-12 col-sm-6">
    <panel>
        <h3 class="col-xs-12 text-center">I'm a fan!</h3>
        <h5>
            Create a new Tunecakes account.
            You can follow musicians to stay up to date on what they are doing.
            Search and find concerts near you and get ready for the weekend!
            Click the fan cupcake below, and start searching.
        </h5>
        <a ui-sref="parent.search.results">
            <img class="main" ng-src="/img/flogol.svg" />
        </a>
    </panel>
</div>
