<div class="col-xs-12 col-sm-6 panel">
   <h3 class="col-xs-12 text-center">Register for Tunecakes</h3>
   <form class="form-horizontal"
       role="form"
       name="regform"
       autocomplete="on"
       tc-validate="user"
       tc-resource="UserFactory"
       ng-model-options="{updateOn: 'blur'}">
      <!-- Email field -->
      <div class="form-group col-xs-12">
         <label class="col-sm-4 control-label">
            Email
         </label>

         <div class="col-sm-8">
            <input type="email"
                class="form-control input-text"
                id="email"
                ng-model="user.email"
                name="email"
                autocomplete="on"
                autofocus>
            </input>
            <p id="input-support-text">You'll use this to log in</p>
         </div>
      </div>
      <!-- Password field -->
      <div class="form-group col-xs-12">
         <label class="col-sm-4 control-label">
            Password
         </label>

         <div class="col-sm-8">
            <input type="password"
                class="form-control input-text"
                name="password"
                ng-model="user.password">

            <p id="input-support-text">
               Password must be at least eight characters long.
               <a href="http://www.howtogeek.com/195430/how-to-create-a-strong-password-and-remember-it/"
                   target="_blank"
                   tabindex="1">
                  Here's some tips on how to make a good password
               </a>
            </p>
         </div>
      </div>
      <!-- Password confirm -->
      <div class="form-group col-xs-12">
         <label class="col-sm-4 control-label">
            Confirm Password
         </label>

         <div class="col-sm-8">
            <input type="password"
                class="form-control input-text"
                ng-model="password_verify"
                match="user.password"
                required>

            <p id="input-support-text">This must match the above password exactly</p>
         </div>
      </div>
      <!-- Zip Code -->
      <div class="form-group col-xs-12">
         <label class="col-sm-4 control-label">
            Zip Code
         </label>

         <div class="col-sm-8">
            <input type="text"
                class="form-control input-text"
                name="zip"
                ng-model="user.zip"
                autocomplete="on">
            </input>
            <p id="input-support-text">Five digits, no spaces, no dashes.</p>
         </div>
      </div>
      <!-- Submit button -->
      <div class="form-group col-xs-12">
         <div class="col-sm-offset-4 col-sm-10">
            <button type="submit"
                class="btn btn-lg btn-primary"
                ng-click="submit()">
               <strong>Register!</strong>
            </button>
         </div>
      </div>
   </form>
</div>
<div class="col-xs-12 col-sm-6 panel">
   <h3 class="col-xs-12 text-center">Welcome!</h3>

   <p>Tunecakes makes it easy to keep up with whatever your favorite artists are doing. New albums?
      Check. Concerts near you? Check. Videos? Crowdfunding? Pictures? You bet. You can finally
      stop tracking 11 different websites and get it all in one place instead!</p>
</div>
