<div class="col-xs-12">
   <h1 class="welcome col-xs-12">Welcome To
      <span class="brand">TUNECAKES</span>
   </h1>
   <p class="col-sm-12 hidden-xs ulp">You can get started by following your favorite artists or creating your own artist page!</p>
</div>

<div class="col-sm-6 pad-25">
   <div ui-sref="parent.feed.events"
       class="col-xs-12 border-land">
      <h1 class="col-xs-12 listen">Listen</h1>
      <img ng-src="/img/flogol.svg"
          style="width:60%;"
          class="col-xs-6 col-xs-push-2 listen-land" />
   </div>
</div>

<div class="col-sm-6 pad-25">
   <div ui-sref="parent.new_artist"
       class="col-xs-12 border-land">
      <h1 class="col-xs-12 create">Create</h1>
      <img ng-src="/img/mlogol.svg"
          style="width:60%;"
          class="marg-top-25 col-xs-6 col-xs-push-2 create-land" />
   </div>
</div>
