<div class="col-lg-offset-2 col-lg-8">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">Reset Password</h3>
      </div>
      <div class="panel-body">
         <!-- Form starts here -->
         <form ng-submit="vm.reset()"
             role="form"
             autocomplete="on"
             ng-model-options="{updateOn: 'blur'}"
             novalidate>

            <!-- Email input -->
            <div class="form-group">
               <label for="email"
                   class="col-sm-3 control-label">Email address</label>
               <div class="col-xs-12 col-sm-9 input-group">
                  <input type="email"
                      ng-model="vm.email"
                      ng-pattern="util.validators.email"
                      name="email"
                      placeholder="Email"
                      class="form-control input-text"
                      autofocus
                      id="email" />
               </div>
            </div>
            <button class="btn btn-lg btn-primary"
                type="submit">
               <strong>Send Reset</strong>
            </button>
         </form>
      </div>
   </div>
</div>
