<div class="col-lg-offset-2 col-lg-8">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">Set New Password</h3>
      </div>
      <div class="panel-body">
         <h3 class="col-xs-12 text-center">{{vm.message}}</h3>

         <!-- Form starts here -->
         <form ng-submit="vm.finalizeReset()"
             role="form"
             autocomplete="on"
             ng-model-options="{updateOn: 'blur'}"
             novalidate>

            <!-- Email input -->
            <div class="form-group">
               <label for="email"
                   class="col-sm-3 control-label">New Password</label>
               <div class="col-xs-12 col-sm-9 input-group">
                  <input type="password"
                      name="pass"
                      ng-model="vm.password"
                      placeholder="Password"
                      class="form-control input-text"
                      autofocus
                      id="pass" />
               </div>
            </div>
            <button class="btn btn-lg btn-primary"
                type="submit">
               <strong>Update Password</strong>
            </button>
         </form>
      </div>
   </div>
</div>
