<div class="navbar-button btn-group"
    id="{{btn.id}}"
    uib-dropdown
    is-open="btn.isopen"
    on-toggle="collapseAll()"
    ng-attr-auto-close="{{btn.id == 'postButton' ? 'outsideClick' : 'always'}}">
   <button class="navmenu-button btn btn-default dropdown-toggle"
       data-toggle="dropdown"
       uib-dropdown-toggle>
      <img ng-src="{{btn.imageUrl}}"
          alt="{{btn.label}}">
      <span class="badge"
          id="unseen_notifications"
          ng-if="btn.id == 'notifButton' && getUnseen()"
          ng-bind="getUnseen()">
      </span>
   </button>
   <ul class="dropdown-menu"
       uib-dropdown-menu
       role="menu">
   </ul>
</div>