<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Uncollapsable content -->
    <div class="navbar-header">
       <a class="navbar-brand hidden-xs" ui-sref="parent.main">TUNECAKES</a>
       <a class="navbar-brand hidden-sm hidden-md hidden-lg" ui-sref="parent.main">TC</a>
    </div>

    <!-- IF unauthenticated  -->
    <div class="navbar-button btn-group navbar-right"
        ng-if="!isLoggedIn()"
        ng-repeat="button in unauthButtons"
        style="float: right">
       <button class="nav-text-button btn btn-default"
           ui-sref="{{button.state}}"
           alt="{{button.label}}"
           style="height: 100%">

          <span class="tc-unauth nav-text-button"
              ng-bind="button.label">
          </span>
       </button>
    </div>

    <!-- ELSE IF authenticated  -->
    <span ng-if="isLoggedIn()"
        class="navbar-left">

       <!-- ELSE IF authenticated  -->
       <tc-navbar-button button="notifications"
           ng-click="markSeen()"
           analytics-on="click"
           analytics-event="Notification Expand"
           analytics-notifications="{{getNotifications().length}}"
           analytics-unseen="{{getUnseen()}}">
          <li ng-repeat="notification in getNotifications() | limitTo: 5">
             <div tc-notifi-card
                 data="notification"
                 analytics-on="click"
                 analytics-event="Notification Clickthrough"
                 analytics-notification-message="{{notification.message}}"
                 analytics-notification-is_read="{{notification.is_read}}"
                 analytics-notification-verb="{{notification.verb}}"
                 analytics-notification-origin="{{notification.origin}}"></div>
          </li>
          <li ng-if="getNotifications().length > 0"
              class="divider">
          </li>
          <li ng-if="getNotifications().length > 0">
             <a ui-sref="parent.notifications">View All Notifications...</a>
          </li>
          <li ng-if="getNotifications().length == 0"
              class="text-center">No notifications</li>
       </tc-navbar-button>

       <!-- Artist button -->
       <tc-navbar-button button="artists"
           ng-if="getManagedArtists().length">
          <li ng-repeat="artist in getManagedArtists() | orderBy:'name'">
             <a class="tc-truncate-single-line"
                 ui-sref-active="active"
                 ui-sref="parent.artist.profile({id: '{{artist.alias || artist.id}}'})"
                 ng-bind="artist.name"></a>
          </li>
          <li class="divider"></li>
          <li>
             <a ui-sref-active="active"
                 ui-sref="parent.new_artist">Create new artist...</a>
          </li>
       </tc-navbar-button>

       <!-- Post button -->
       <tc-navbar-button button="post"
           ng-if="getManagedArtists().length">
          <li>
             <a ng-click="clickEvent()">
                Event
             </a>
             <ul role="menu"
                 uib-collapse="collapse['event']">
                <li ng-repeat="artist in getManagedArtists() | orderBy:'name'">
                   <a ng-click="goToEntityCreate(artist.id, 'newevent')"
                       ng-bind="artist.name"></a>
                </li>
             </ul>
          </li>
          <li>
             <a ng-click="clickPost()">
                Post
             </a>
             <ul role="menu"
                 uib-collapse="collapse['post']">
                <li ng-repeat="artist in getManagedArtists() | orderBy:'name'">
                   <a ng-click="goToEntityCreate(artist.id, 'newpost')"
                       ng-bind="artist.name"></a>
                </li>
             </ul>
          </li>
          <li>
             <a ng-click="clickRelease()">
                Release
             </a>
             <ul role="menu"
                 uib-collapse="collapse['release']">
                <li ng-repeat="artist in getManagedArtists() | orderBy:'name'">
                   <a ng-click="goToEntityCreate(artist.id, 'newrelease')">{{::artist.name}}</a>
                </li>
             </ul>
          </li>
       </tc-navbar-button>

       <!-- Settings button -->
       <tc-navbar-button button="settings">
          <li ng-repeat="item in btn.dropdown">
             <a ui-sref-active="active"
                 ui-sref="{{item.state}}"
                 ng-bind="item.label"></a>
          </li>
       </tc-navbar-button>

    </span>

    <!-- Search button for small screens -->
    <div class="navbar-button btn-group navbar-right"
        style="float: right">
       <button class="navmenu-button btn btn-default navbar-toggle navbar-right"
           style="margin: 0px"
           ng-click="toggleSearchCollapse()">
          <img src="/img/search_icon.png">
       </button>
    </div>

    <!-- Begin collapsable content -->
    <div id="search-container"
        class="collapse navbar-collapse navbar-right"
        style="margin-right:20px"
        uib-collapse="isCollapsed">
       <!-- Right-aligned junk (search) -->
       <ul class="nav navbar-nav"
           style="width: 100%;">
          <tc-searchbar></tc-searchbar>
       </ul>
    </div>
  </div>
    <!--/.nav-collapse -->
</div>
