<h3>Choose {{ artist.name }}'s Facebook Page  </h3>

<div class="row" ng-repeat="page in vm.pages" style="margin: 3px 0; background-color: #ebe2f3; border: solid 1px rgb(182, 153, 209)">
   <div class="col-xs-5">
      <div class="col-xs-12">{{ page.name }}</div>
   </div>
   <div class="col-xs-3"><img ng-src="{{ page.picture.data.url }}" height="50px" width="50px"></div>
   <button class="btn btn-primary col-xs-4"
       style="height: 50px"
       ng-if="page.id !== artist.facebook_id"
       ng-click="vm.linkArtist(page.id)">
      Link to this Facebook page
   </button>
   <button class="btn btn-default col-xs-4"
       style="height: 50px"
       ng-if="page.id === artist.facebook_id"
       ng-click="vm.linkArtist(page.id)">
      Linked
      <img src="img/check_mark.png" style="height: 15px;">
   </button>
</div>
