<button class="btn btn-default col-xs-12 artist-event-card" ui-sref="parent.event.main({id: object.id})">
   <div class="col-xs-12 event-card-title tc-truncate-single-line">
      {{::object.type}}: {{::object.name}}
   </div>
   <div class="col-xs-12 artist-event-card-wrapper">
      <div class="col-xs-4 event-card-img"
           ng-if="object.image_link"
           tc-fill-text
           ng-style="{'background-image': 'url(' + object.image_link + ')'}">
      </div>
      <div ng-if="!object.image_link" class="col-xs-2"></div>
      <div class="col-xs-8 event-card-info">
         <div class="col-xs-12">
            {{::object.start_date | date: 'MMM d, y'}}
         </div>

         <div class="col-xs-12">
            {{::object.city}}
            <span ng-if="object.city && object.state">,</span>
            {{::object.state}}

            <span ng-if="!object.city && !object.state">
                No Location
            </span>
         </div>
      </div>
   </div>
</button>
