<button class="btn btn-default col-xs-12 event-card" ui-sref="parent.event.main({id: object.id})">
   <div class="col-xs-3 event-card-img"
        tc-fill-text
        ng-style="{'background-image': 'url(' + object.image_link + ')'}">
   </div>
   <div class="col-xs-6 event-card-artists">
      <div class="col-xs-12"
          ng-repeat="artist in ::object.linked_artists">
          {{::artist.name}}
      </div>
      <div class="col-xs-12"
          ng-repeat="artist in ::object.unlinked_artists">
         {{::artist.name}}
      </div>
   </div>
   <div class="col-xs-3">
      <div class="col-xs-12">
          {{::object.start_date | date: 'MMM d'}}</br>
      </div>

      <div class="col-xs-12">
        {{::object.venue_name}}<br>
        
         {{::object.city}}
         <span ng-if="object.city && object.state">,</span>
         {{::object.state}}

         <span ng-if="!object.city && !object.state">
             No Location
         </span>
      </div>
   </div>
</button>
