<!-- Follow Module -->
<div class="col-sm-4 col-xs-12 panel">
    <div class="hidden-xs col-sm-12" ng-if="event.image_link">
        <tc-img src="::event.image_link"
             class="col-xs-12 event-picture"
             style="padding: 4px; border: 1px"
             alt="Event picture"></tc-img>
    </div>
    <div class="col-xs-12 event-follow-button" ng-controller="eventFollowCtrl">
        <!-- Not logged in follow button-->
        <div class="row" ng-show="!AuthService.isLoggedIn()">
           <a type="button"
               class="col-xs-12 btn btn-primary btn-follow"
               ui-sref="parent.login({prevState:'parent.event.main', prevId:event.id})">Follow</a>
        </div>
        <!--Logged in, not following -->
        <div class="row"
             ng-show="AuthService.isLoggedIn() && !isFollowing">
            <button type="button"
                 class="col-xs-10 btn btn-primary btn-follow"
                 ng-click="addFollower()">Follow</button>
            <button type="button"
                 class="col-xs-2 btn btn-primary btn-follow"
                 ng-click="toggleFollowCollapse()">
                <strong ng-show="followCollapse">+</strong>
                <strong ng-show="!followCollapse">-</strong>
            </button>
        </div>
        <!-- Logged in, following-->
        <div class="row"
             ng-show="isFollowing">
            <button type="button"
                 class="col-xs-12 btn btn-primary btn-follow"
                 ng-click="toggleFollowCollapse()">
                Follow Settings
                <strong ng-show="followCollapse">+</strong>
                <strong ng-show="!followCollapse">-</strong>
            </button>
        </div>

        <!-- Follow Settings Menu -->
        <div class="row"
             uib-collapse="followCollapse">
            <div class="row">
                <span class="col-xs-10">Reminder</span>
                <input class="col-xs-2"
                     type="checkbox"
                     ng-model="follow.reminder">
            </div>
            <div class="row">
                <span class="col-xs-10">Important Announcements</span>
                <input class="col-xs-2"
                     type="checkbox"
                     ng-model="follow.announcements">
            </div>
            <div class="row">
                <span class="col-xs-10">Event Blog</span>
                <input class="col-xs-2"
                     type="checkbox"
                     ng-model="follow.other">
            </div>
            <div class="row"
                 ng-show="isFollowing">
                <button type="button"
                     class="col-xs-6 btn"
                     ng-click="updateFollower()">Save</button>
                <button type="button"
                     class="col-xs-6 btn btn-danger"
                     ng-click="removeFollower()">Unfollow</button>
            </div>
        </div>
    </div>
    <!-- Tickets button -->
    <a ng-href="{{ event.ticket_url }}" target="_blank" ng-if="event.ticket_url">
       <button type="button" class="btn btn-lg btn-default col-xs-12 event-ticket-button">
          Buy Tickets
       </button>
    </a>
    <!-- date/address/location -->
    <div class="col-xs-12 info-card">
        <span class="main col-xs-12">Date and Time</span>
        <span class="sub col-xs-12">{{ event.start_date | date : 'yyyy-MM-dd h:mm a'}}</span>

        <span class="main col-xs-12">Venue and Address</span>

        <span class="sub col-xs-12">{{ event.venue_name }}</span>
        <span class="sub col-xs-12"><a href="https://maps.google.com/?q={{ event.venue_name }}+{{ event.address }}+{{ event.city }}+{{ event.state }}+{{event.country}}" target="_blank">{{ event.address }}, {{event.city}}, {{event.state}}</a></span>

        <span ng-if="event.early_price" class="main col-xs-6">Early Price</span>
        <span ng-if="event.early_price" class="main col-xs-6 text-right">{{ event.early_price }}</span>

        <span ng-if="event.door_price" class="main col-xs-6">Price at door</small>
        <span ng-if="event.door_price" class="main col-xs-6 text-right">{{ event.door_price }}</small>

        <span ng-if="event.ticket_info" class="main col-xs-6">Ticket Details</small>
        <span ng-if="event.ticket_info" class="main col-xs-6 text-right">{{ event.ticket_info }}</small>

        <span class="main col-xs-12">Tags</span>
        <tag-helper class="sub col-xs-12" ng-model="artist.tags"></tag-helper>
    </div>
</div>

<!-- Marquee -->
<div class="panel col-sm-8 col-xs-12 artist-list">
    <span ng-repeat="artist in event.artists">
        <a class="col-xs-12"
            tc-fill-text
            ng-if="artist.id"
            ng-style="{height: 'calc(100%/' + event.artists.length + ')'}"
            ui-sref="parent.artist.profile({id: artist.alias})">
             {{ artist.name }}
        </a>
        <span class="col-xs-12"
            tc-fill-text
            ng-if="!artist.id"
            ng-style="{height: 'calc(100%/' + event.artists.length + ')'}">
            {{ artist.name }}
        </span>
    </span>
</div>


<ui-view class="col-sm-8 col-xs-12"></ui-view>
