<a href ng-click="$root.goToObjectPage(object)">
   <div class="panel-heading">
      <tc-img src="actor.image_link"
          alt="User Image"
          class="notifImg" /></tc-img> &nbsp;
      <span class="action-statement">
         Event "{{ event.name }}" {{ text }}
      </span>
   </div>
</a>
