<header-panel ng-if="event.description.length">
    <panel-heading>Description</panel-heading>
    <panel-body>
        <div class="panel-body">
            <p>{{event.description}}</p>
        </div>
    </panel-body>
</header-panel>

<header-panel>
    <panel-heading>Music Samples</panel-heading>
    <panel-body>
         <ul class="list-group">
            <!-- FIXME: need to place a limit on this -->
            <li class="list-group-item"
            ng-repeat="artist in event.artists"
            ng-if="artist.video_link">
               <div url="artist.video_link" 
                  class="text-center col-xs-12"
                  no-embed></div>

            <!-- Name and tags -->
                   <div class="row">
                     <h3>{{ artist.name }}</h3>
                     <div class="art-card-tags">
                       <div tag-helper
                       ng-model="artist.tags"></div>
                     </div>
                   </div>
            </li>
         </ul>
    </panel-body>
</header-panel>

<header-panel>
    <panel-heading>Updates</panel-heading>
    <panel-body>
        <div ng-repeat="activity in feed.activities" class="row">
            <div tc-event-notifi-card data="::activity"></div>
        </div>
    </panel-body>
</header-panel>
