<div class="col-xs-6">
   <div class="panel">
      <!-- Image upload -->
      <div class="row">Event Picture</div>
      <div class="row"
          image-helper
          ng-model="images.main">
      </div>
   </div>
</div>

<div class="col-xs-6">
   <div class="panel">
      <!-- Event Description -->
      <div class="row">
         Event Description
      </div>
      <div class="row">
         <textarea id="event-description-input"
             class="form-control input-text"
             ng-model="event.description"
             name="description"></textarea>
      </div>
   </div>
</div>

<!-- Start date/time -->
<div class="col-xs-12">
   <div class="panel col-xs-12 col-sm-6">
      <div class="row">
         Start Date and Time <tc-required></tc-required>
      </div>

      <tc-date-input ng-model="event.start_date" name="start_date"></tc-date-input>
      <div class="alert alert-danger" ng-show="submitted && !event.start_date">
        A start date and time are required
      </div>
   </div>


   <!-- End date/time -->
   <div class="panel col-xs-12 col-sm-6">
      <div class="row">
         End Date and Time (optional)
      </div>
      <tc-date-input ng-model="event.end_date" name="end_date"></tc-date-input>
   </div>
</div>


<!-- Ticket URL -->
<div class="panel col-xs-12 col-sm-6">
   <div class="row">
      Ticket URL
   </div>
   <div class="row">
      <input type="url"
          class="form-control input-text"
          ng-model="event.ticket_url"
          name="ticket_url"/>
        <div class="alert alert-danger" ng-if="editEventForm.ticket_url.$touched && !editEventForm.ticket_url.$valid">
          This is not a valid URL. Make sure to include http://
        </div>
   </div>
</div>

<!-- Venue name -->
<div class="panel col-xs-12 col-sm-6">
   <div class="row">
      Location
   </div>
   <div class="row">
      <google-place-autocomplete ng-model="event"></google-place-autocomplete>
   </div>
</div>

<!-- Other performers -->
<div class="panel col-xs-12">
   <div class="row">
      Other Performers
   </div>
   <div tc-add-artists
       artists="event.artists"></div>
</div>
