<form tc-resource="EventFactory"
ng-model-options="{updateOn: 'blur'}"
name="editEventForm">
  <tc-event-form-simple></tc-event-form-simple>

  <button type="submit"
  class="col-xs-12 artnavitem btn btn-warning"
  ng-click="save()"
  id="artistUpdate">
    <strong>Save</strong>
  </button>
</form>
