<div id="eventModal" class="col-xs-12" ng-controller="newEventCtrl">
    <form tc-validate="event"
       tc-resource="EventFactory"
       ng-model-options="{updateOn: 'blur'}"
       name="editEventForm">

        <div class="panel col-xs-12">
           <h3 class="col-xs-6">New Event</h3>
           <tc-required-info class="col-xs-6 text-right" style="margin-top: 30px"></tc-required-info>
        </div>
        <div class="row">
            <tc-event-form-simple></tc-event-form-simple>
        </div>

        <!-- Buttons -->
        <div class="panel row"
            style="padding-top: 10px">
           <button type="submit"
               ng-click="submitted = true; submit()"
               class="btn btn-lg btn-primary col-xs-6">
              <strong>Create</strong>
           </button>
        </div>
    </form>
</div>
