/*** event card styles ***/

.event-title {
   color: $color-dark-gray;
   font-size: 1.3em;
}

.event-date {
   color: $color-dark-gray-3;
   font-size: 1em;
}

.event-card {
   padding: 0px;
   margin: 2px 0;
   height: 100px;
}

.artist-event-card {
   padding: 0px;
   margin: 2px 0;
   height: 75px;
}

.artist-event-card-wrapper {
    height: 52px;
}

.event-card-info {
    padding-top: 7px;
}

.event-card-title {
   text-align: left;
   height: 20px;
   border-bottom: $border-primary-2;
   padding: 1px 5px;
   box-sizing: border-box;
}

#event-card-wrapper {
  background-color: $color-white;
  margin: -1px 0;
  border-top: $border-result-dashed1;
  border-bottom: $border-result-dashed1;

  >a.event-image {
    margin: 0;
  }
}

.event-ticket-button {
   margin: 10px 0;
}

.event-image > img {
   padding: 0;
}

.event-card-img {
   height: 100%;
   overflow: hidden;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   color: $color-white;
   border-right: $border-primary-2;
}

.event-card-artists {
    padding: 2px 1%;
    text-align: left;
    font-size: 1.3em;
}

.event-artist {
   font-size: 1em;
   /* margin-left:
-15px; */
   padding-left: 0px;
   margin: 0;
}

a {
	.event-artist {
	   margin-left: 0px;
	   padding-left: 0px;
	}
}

.event-deets {
   margin-top: 5px;
}

.no-left-pad {
   padding-left: 0px;
}

// Notification card styles
#unseen_notifications {
   position: absolute;
   top: 20px;
   left: 15px;
   font-style: bold;
   color: $color-white;
}

[tc-notifi-card] {

  .unread {
    background-color: $color-light !important;
  }

  .action-statement {
    color: inherit;
    display: inline-block;
    vertical-align: middle;
  }

  span {
    color: inherit;
  }
}

.notifImg {
  margin-left: -5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  float: left;
  border: $border-black;
}

/* release card styles */

.release-date {
   text-align: right;
}

.release-track {
   padding-top: 15px;
   ol {
	   padding-left: 18px;

	   li {
		   text-overflow: ellipsis;
		}
	}
}

// Feed card styles
[tc-feed-card] {

	.panel {
		padding: 0px;
		margin-bottom: 10px;
	}

	.panel-heading {
		padding: 10px;
	}
	
	.panel-body {
		padding: 20px 10px;
	}
}

.feedImg {
   width: 40px;
}

.release-card-header {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
}

.release-card-date {
    font-weight: 100;
}

.release-card-title {
    font-size: 1.3em;
    margin: 3px 0 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 50px;
}

.release-card-songs {
    font-size: .8em;
    font-weight: 100;
    overflow: hidden;
    max-height: 50px;
}

.release-img-container {
    position: relative;
  	width: 100%;
  	padding-bottom: 100%;
}

.release-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.feed-card {
   padding: 2px;
   border: $border-result-more;
   margin: 3px 0;
   font-weight: 600;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.feed-card-heading {
   color: $color-dimgray;
}

.feed-card-img {
   height: 200px;
   width: 100%;
   margin: 0 auto;
   padding: 2px 0;
   overflow: hidden;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
}

.feed-card-body {
   border-top: $border-result;
   color: $color-dimgray;
   font-size: 0.8em;
   padding: 3px 0 0 3px;
}


.artist-sampler-card {
    overflow: hidden;
    max-height: 400px;
}