/*** Header ***/

.navbar {
	border: $border-none;
	margin-bottom: 0;

	&::-webkit-input-placeholder {
		color: $color-primary;
	}

	&:-moz-placeholder {
		color: $color-primary;
	}

	&::-moz-placeholder {
		color: $color-primary;
	}

	&:-ms-input-placeholder {
		color: $color-primary;
	}
}

.dropdown-menu {
   min-width: 300px;
   background-color: white !important;
   overflow: auto;
   max-height: 300px;
   left: inherit;
   color: $color-primary;
}

.dropdown-menu>li>a {
   color: $color-primary;
}

.navbar-default {
   background-color: $color-light;
   position: fixed;
   top: 0px;
   right: 0px;
   left: 0px;
   border-bottom: 1px solid $color-purple;

   .navbar-brand {
	   font-family: $font-vinyl;
	   color: $color-primary;
	   font-size: 24px;
	}
}

.navbar.navbar-default.navbar-static-top.ng-scope {

	.container {

		* {

			&:not(.badge) {
				border: $border-none;
				background-color: transparent;
				color: $color-primary;
				margin-right: 0;

				>span.tc-unauth {
					font-weight: 900;
					font-size: 1.2em;
				}
			}
		}

		.form-control {
			background-color: $color-white;
			width: 300px;
		}

		.navbar-brand {

			&:hover {
				color: $color-white;
			}
		}
	}

	.icon-bar {
		background-color: $color-primary;
	}

	.btn {
		padding-left: 2px;
		padding-right: 2px;
	}
}

.navbar-button {
   height: 50px;
   position: static;
   margin-right: 0px;
}

.tc-navbar-button {

	ul {
  		max-width: 400px;
  	}
}

.pac-container {
   /* location
picker needs to be in front of modal */
   z-index: 1501;
}

.nav-text-button {
   background: none;
   border: none;
   font-weight: 800;
   color: $color-primary;
   padding-left: 5px;
   padding-right: 5px;
}

.navmenu-button {
    background: $border-none;
    border: $border-none;
    height: 100%;
    width: 40px;

	&:hover {
	   /*This causes the icon images to shrink*/
	   /*background-color: transparent;*/
	   /*border: solid transparent;*/
	   /*This changes the background color of the button*/
	   background: solid !important;
	   background-color: white !important;
	}
}

.navmenu-button.btn.btn-default {
    box-shadow: $border-none;
    -webkit-box-shadow: $border-none;
}

#postButton>button>img {
   padding: 8px 0px 8px;
}

.navmenu-button>img {
   height: 100%;
   padding: 5px 0px 5px;
}

.navbar-collapse.in {
   /*Workaround for scroll bar on collapsed nav bar*/
   overflow-y: visible;
}

.navbar-header {
   float: left;
}

.row {
   margin: 0;
}

.row-header {
   font-weight: 900;
}

.tc-line {
   margin: 2px 4px 0 0 !important;
   border-right: 2px solid $color-primary !important;
   color: $color-primary;
   height: 30px;
}

//Search container
.filter-header {
    color: $color-white;
    font-weight: 800;
    font-size: 1.3em;
    padding-top: 10px;
    padding-left: 5px;
}

.quick-search-title {
    width: 100%;
    margin-top: 5px;
    font-size: 0.8em;
    font-weight: 600;
}

.close-quick-search {
    position: absolute;
    top: 0px;
    right: 5px;
}

.quick-search-results {
    width: 100%;
    position: absolute;
    background-color: $color-white;
    padding: 5px;
    border-bottom: $border-primary;
    border-left: $border-primary;
    border-right: $border-primary;
    margin-top: -4px;
}

#nav-search-bar {
    border: $border-primary;
}

#searchbtn {
   padding-right: 5px;
   /*making the list for dropdown bump down*/
}

#search-menu {
   background-color: $color-light;
   height: 50px;
   padding: 0;
}

#search-menu>button {
   padding: 0;
   height: 100%;
   border: $border-menu;
}

#search-menu>button:hover {
   background-color: $color-gray;
}

#search-menu>button.selected {
   padding: 0;
   background-color: $color-lightblue;
}

#search-menu>button.selected:hover {
   background-color: $color-red;
}

#search-menu>button>img {
   max-height: 100%;
   max-width: 100%;
}

#search-results {
   background-color: $color-light;
   border: $border-result;
}

#search-bar {
   width: 100%;
   float: left;
   padding: 10px 0;
}

#search-bar>div {
   padding-left: $border-zero;
}

#search-location-container {
   height: 100%;
}

#google-container {
   height: 100%;
}

//Second menu
#overlord {
    display: flex;
    flex-direction: column;
    height: 100%
}

#second-menu {
    text-align: center;
    min-width: 100%;
    margin-top: 50px;
    border-bottom: 1px solid $color-purple-light;

    .btn {
      border: $border-none;
      border-radius: 0px;
  }
}

#second-menu-stub {
    width: 250px;
    min-width: 250px;
    min-height: 100%;
    background-color: $border-none;
}

.artnavitem {
   width: 70px;
   margin: 4px 2px -1.5px 0px;
   height: 30px;
   display: inline-block;
   border: 2px solid $color-primary;
}

.artnavitem-extended {
   width: 120px;
   margin: 4px 2px -1.5px 0px;
   height: 30px;
   display: inline-block;
   border: 2px solid $color-primary;
}

.artnavitem>.btn.active {
   background-color: $color-white;
   color: $color-primary;
}

.artnavitem>.btn {
   height: 100%;
}
