/*** Artists page ***/

.panel-body {
	ul {
		padding: 0;
	}

	ol {
		padding: 0;
	}
}

//Artist Card Styles
.art-card {
   padding: 0px;
   margin: 2px 0;
   height: 50px;
   overflow: hidden;

   .panel-heading {
	   padding-top: 0px;
	   padding-bottom: 0px;
	   height: 35px;
	   line-height: 1.8;
	}

	.panel-body {
	   padding-top: 8px;
	   height: 160px;

	   div {
		   padding: 0;
		}
	}
}

.art-card-artist {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

.art-card-follow {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-left-width: 0;
}

.art-card-name {
    padding: 0;
    margin: 4px 1%;
    text-align: left;
    font-size: 1.4em;
}

.art-card-details {
    margin: 0px 2%;
}

.art-card-img {
   width: 100px;
   float: left;
}

.tc-truncate-single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-details {
    padding: 0;
    text-align: left;
    font-size: 0.9em;
}


.card-title {
   font-size: 170%;
   color: $color-purple;
   margin: 0;

   span {
	   color: $color-dark-gray-3;
	   font-size: 75%;
	}
}

.card-img {
   height: 100%;
   overflow: hidden;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   text-shadow: 0 0 3px #000000, 0 0 5px #000000, 0 0 10px #000000;
   color: white;
}

//Artist profile

.artsubnav {}

#generated-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    z-index: 1;
}

#generated-button {
    width: 100%;
    height: 100%;
    padding-top: 83px;
    background-color: $color-transparent;
}

artist-name {
    display: block;
    line-height: normal;

    div {
	    height: 100%;
	}
}

artist-name.profile {
    height: 150px;
}

.tc-img {
   height: 100%;
   overflow: hidden;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   border: $border-primary;
}

.artist-profile-picture {
    height: 210px;
}

.datetimepicker {
   width: auto;
}

.datetimepicker .hour,
.datetimepicker .minute {
   width: 25%;
}

#eventModal>div {
   padding-bottom: 15px;
}

//New Artist Form Styles
.form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;

    .control-label {
	   text-align: right;
	   padding-top: 7px;
	   padding-right: 7px;
	   font-family: $font-subtitle;
	}
}

.form-control {
   border: $border-none;
   box-shadow: $border-none;

   &:focus {
	   border: $border-none;
	   box-shadow: $border-none;
	}
}

.input-text {
   background-color: $color-white;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   border: $border-tag;
   height: auto;
   min-height: 32px;

   &:focus {
	   border: $border-tag;
	   /* border: 1px solid rgba(142,
	113,169,.75); box-shadow: 0 0 4px $color-purple; */
	}
}

.input-group-addon {
   background-color: $color-secondary;
   border-color: $color-primary;
}

textarea#event-description-input {
   height: 220px;
}

.added-member {
   margin-bottom: 15px;
}

.btn-add-member {
   padding-left: 0px;
   padding-right: 0px;
}

//separate music embeds a bit
.list-group-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.art-card-tags {
  display: inline;
}

//Tour styles
.tour-tip {
	h3 {
	   color: #a285bd;
	   font-family: vinylcuts, helvetica, sans-serif;
	}
}

.social {
   background-color: $color-secondary;
   padding: 4px;
   position: relative;
   height: 40px;
   color: $color-white;
   font-weight: 800;
}

.social-hover {
   color: lightgrey
}

.social-twitter {
   background-color: $color-white;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}

.tc-feed-btn {
   height: 30px;
   margin: 3px 0;
}

.tc-feed-selected {
   height: 20px;
   position: absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   margin:auto;
}

.tc-btn-selected {
   height: 30px;
   position: absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   margin:auto;
}

.tc-btn-disabled {
   height: 100%;
   background-color: $color-gray;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0.8;
   width: 100%;
}

#unseen_notifications {
   background-color: $color-orange;
}