/*** Calendar page ***/

//Calendar
#calendar-container {
	height: 700px;

	#tcCalendar {
		padding-right: 2px;
	}

	.calendar-tag-filter-container {
	    padding: 30px 2px 2px 2px;
	    max-height: 100%;
	    height: 100%;
	    background-color: $color-light;

		#calendar-tag-filter-header {
		    font-size: 1.1em;
		    top: 10px;
		    position: absolute;
		    color: $color-purple;
		    left: 5px;
		    margin: 0;
		}

		.calendar-tag-container {
		    overflow: hidden;
		    max-height: 100%;
		    font-weight: bold;

		    .tag-container {
			    font-size: 10px;
			    display: inline-block;
			    height: 20px;
			    border: $border-primary-2;
			    border-radius: 5px;
			    padding: 2px;
			    margin: 2px;
			    background: white;
			}

			.tag-container.active {
			    background-color: $color-secondary;
			    color: white;
			}

			.all-tag-container {
			    width: 98%;
			}

		}
	}
}

//Musician section
.front-page-header {
   text-align: center;
   font-weight: bold;
}

.front-page-text {
    font-size: 1.4em;
}

//Video (front page) Styles
.tcVid {
   margin-top: 40px;
   margin-bottom: 35px;
}

.videoWrapper {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 25px;
   height: 0px;
}

.videoWrapper>iframe {
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   position: absolute;
}

//Front page
#scrolldownplease {
   position: fixed;
   Width: 100%;
   bottom: 0;
}

#event-cal-location {
    display: inline-block;
    width: auto;
    border: $border-result;
}

#event-cal-location > input {
    border: $border-none;
    padding: 2px 5px;
    font-size: 1.1em;
}

span[us-spinner] {
   top: 50%;
   left: 50%;
   z-index: 1501;
   /* Put above modal */
}

.spinner {
   /* bring your own prefixes */
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   display: inline-block;
   height: 100%;
   width: 100% !important;
   background-color: rgba(255, 255, 255, 0.5);
}

.spinner>div {
   top: 50% !important;
   left: 50% !important;
}

input {
   color: $color-dark-gray;
}

label {
   color: $color-dark-gray;
}

.stats {
   color: $color-primary;
   font-weight: bold;
}

[tag-helper] a strong {

}

.rotate-90 {
   /* Safari */
   -webkit-transform: rotate(-90deg);
   /* Firefox */
   -moz-transform: rotate(-90deg);
   /* IE */
   -ms-transform: rotate(-90deg);
   /* Opera */
   -o-transform: rotate(-90deg);
   /* Internet
Explorer */
   filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}