/*** Info page ***/

.info-card {
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   padding: 3px 5px;
   margin-bottom: 10px;
   border-top: $border-result;
   background-color: $color-light;
   color: $color-secondary;
   margin-bottom: 5px;
   font-size: 0.9em;
}

.info-card > .main, .info-card > .main > span {
   font-weight: bold;
   color: $color-purple;
   padding-top: 3px;
}

.info-card > span.main {
   color: $color-purple;
 }

.info-card > .sub {
   color: $color-primary;
   font-weight: bold;
   padding: 0 5px;
}

//Event
.artist-list {
    height: 300px;
}
.event-picture {
    height: 300px;
}