/*** New User Landing Page Styles ***/

h1.welcome {
   font-size: 3.5em;
}

.welcome {

   .brand {
      font-family: $font-vinyl;
      font-size: 108%;
   }
}

p.ulp {
   font-size: 1.5em;
}

.pad-25 {
   padding: 25px;
}

.border-land {
   box-sizing: border-box;
   background-color: $color-white;
   padding-top: 3px;
   padding-bottom: 10px;
   border: $border-primary-2;
   border-radius: 5px;
   margin-bottom: 20px;
   
   &:hover {
      border: $border-white;
      background-color: $color-primary-1;
      color: $color-white;
      cursor: pointer;
   }
}


.border-land:hover>.listen,
.border-land:hover>.create {
   color: $color-white;
}

h1.listen,
h1.create {
   color: $color-primary;
}

img.listen-land {
   width: 295px;
   margin-top: 18px;
   margin-bottom: 2px;
   margin-left: 18px;
}

img.create-land {
   width: 300px;
   margin-bottom: -1px;
   margin-left: 25px;
}

