/*** Register page ***/

.form-control.ng-invalid-match {
   /*gives password confirm yellow
border when it doesn't match the password*/
   border: 2px;
   border-radius: 0px;
   border-color: $color-red-light;
   box-shadow: 0 0 10px $color-red-light;
}

.form-control.ng-invalid.ng-dirty:not(.ng-pending):not(:focus) {
   border: 2px;
   border-radius: 0px;
   border-color: $color-red-light;
   box-shadow: 0 0 10px $color-red-light;
}

.form-control.has-error {
   border: 2px;
   border-radius: 0px;
   border-color: $color-red-light;
   box-shadow: 0 0 10px $color-red-light;
}

#input-support-text {
   /* Help text underneath input fields*/
   clear: both;
   font-style: italic;
   color: $color-gray;
   min-height: 10px;
}