<div class="row">
   <h2 class="text-center col-xs-12">Notifications</h2>
</div>
<div ng-repeat="notif in NotificationService.getNotifications()"
    class="row">
   <div tc-notifi-card
       class="col-xs-12 col-sm-9 col-sm-push-3 col-md-6"
       data="::notif">
   </div>
</div>
<button class="btn btn-default col-xs-12 col-sm-9 col-sm-push-3 col-md-6"
    ng-click="NotificationService.fetchMore()">Get more notifications</button>