<a ui-state="'parent.' + feedItem.state" ui-state-params="{'id': feedItem.state_id}">
   <div class="panel-heading"
       ng-click="NotificationService.markRead(feedItem)"
       ng-class="{unread: !feedItem.is_read}">

      <span class="action-statement">
         <tc-img src="feedItem.actor.image_link"
             alt="User Image"
             class="notifImg"/></tc-img>
         {{ feedItem.message }}
      </span>
   </div>
</a>
