<!DOCTYPE html>
<html lang="en"
    ng-app="tunecakes">

<head>
   <base href="/">
   <meta charset="utf-8">
   <meta name="viewport"
       content="width=device-width, initial-scale=1">
   <title> Tunecakes </title>
   <!-- Keep 3rd party CSS sheets first -->
   <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
   <link rel="stylesheet" href="libs/fullcalendar/dist/fullcalendar.css"/>
   <link rel="stylesheet"
       type="text/css"
       href="libs/bootstrap-css/css/bootstrap.css" />
   <link rel="stylesheet"
       type="text/css"
       href="libs/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
   <link rel="stylesheet"
       type="text/css"
       href="libs/angular-toastr/dist/angular-toastr.css" />

   <link rel="stylesheet"
       type="text/css" href="libs/angular-tour/dist/angular-tour.css" />

   <!-- Have our custom CSS sheets last so they take precedence -->
   <link rel="stylesheet" type="text/css" href="css/custom_style.css" />
   <link rel="stylesheet" type="text/css" href="css/main.css" />

   <script src="libs/mixpanel/mixpanel-jslib-snippet.js"></script>

</head>

<body ng-cloak>
    <!-- app configuration -->
    <script src="config/mixpanel.config.js"></script>

    <tc-navbar></tc-navbar>
    <div id="overlord">
        <div id="second-menu">
            <div ui-view="second-menu"></div>
        </div>
        <div id="site-container" ui-view></div>
    </div>
    <script src="js/util.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/underscore/underscore.js"></script>
    <script src="libs/moment/moment.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-ui-calendar/src/calendar.js"></script>
    <script src="libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="libs/fullcalendar/dist/gcal.js"></script>
    <script src="libs/angulartics/src/angulartics.js"></script>
    <script src="libs/angulartics-mixpanel/lib/angulartics-mixpanel.js"></script>
    <script src="libs/angular-spinner/dist/angular-spinner.js"></script>
    <script src="libs/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="libs/angular-tour/dist/angular-tour.js"></script>
    <script src="libs/angular-animate/angular-animate.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="libs/angular-resource/angular-resource.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="libs/angular-ui-mask/dist/mask.js"></script>
    <script src="libs/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="libs/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="libs/ngstorage/ngStorage.js"></script>
    <script src="libs/angular-ui-validate/dist/validate.js"></script>
    <script src="config/app.config.js"></script>
    <script src="app/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= config.google_api_key %>"></script>
    <!-- damn js-beautify can't handle this right now :( -->
    <% if (!config.env.startsWith('production')) { %>
        <script src="http://<%= config.web.host %>:35729/livereload.js"></script>
    <% } %>
</body>

</html>
