<tc-spotify-linker class="col-xs-12"></tc-spotify-linker>
<div class="panel panel-default col-xs-12">
   <div ng-repeat="activity in feed.results"
       class="col-xs-12">
      <tc-feed-card class="col-xs-12"
          feed-item="activity">
      </tc-feed-card>
   </div>
</div>
