<tc-spotify-linker class="col-xs-12"></tc-spotify-linker>
<div class="panel panel-default col-xs-12">
   <div ng-repeat="artist in nearbyArtists">
      <tc-artist-card artist="artist._source"></tc-artist-card>
   </div>
</div>
<div tc-tour="registration"></div>
