<style>
.feed-card {
}
</style>

<div class="col-xs-12 feed-card panel-default">
    <a ui-state="'parent.' + activity.state" ui-state-params="{'id': activity.state_id}">
       <span class="feed-card-heading">
          {{ activity.message }}
       </span>
       <div class="feed-card-img"
           ng-if="activity.image_link"
           ng-style="{'background-image': 'url(' + activity.image_link + ')'}"></div>
       <div ng-if="activity.body" class="feed-card-body">
           {{ activity.body }}
       </div>
    </a>
</div>
