<div class="col-lg-offset-2 col-lg-8">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title">Login form</h3>
      </div>
      <div class="panel-body">

         <!-- Form starts here -->
         <form ng-submit="submit()"
             role="form"
             autocomplete="on"
             ng-model-options="{updateOn: 'blur'}"
             novalidate>

            <!-- Email input -->
            <div class="form-group">
               <label for="email"
                   class="col-sm-3 control-label">Email address</label>
               <div class="col-xs-12 col-sm-9 input-group">
                  <input type="email"
                      ng-model="user.email"
                      ng-pattern="util.validators.email"
                      name="email"
                      placeholder="Email"
                      class="form-control input-text"
                      autofocus
                      id="email" />
               </div>
            </div>

            <!-- Password input -->
            <div class="form-group">
               <label class="pull-left col-sm-3 control-label"
                   for="pass">Password</label>
               <div class="col-xs-12 col-sm-9 input-group">
                  <input ng-model="user.password"
                      type="password"
                      name="pass"
                      placeholder="Password"
                      id="pass"
                      class="form-control input-text" />
               </div>
            </div>

            <!-- Remember me checkbox -->
            <div class="form-group">
               <a ui-sref='parent.password_reset'>
                  <div class="col-xs-12">
                     <strong>Forgot your password?</strong>
                  </div>
               </a>
            </div>
            <p>
              {{$stateParams.prevState}}
            </p>
            <button class="btn btn-lg btn-primary"
                type="submit">
               <strong>Login</strong>
            </button>
         </form>
      </div>
   </div>
</div>
