<!-- Musician profile -->
<div class="col-xs-12">
    <!-- Musician's profile picture -->
    <!-- Title panel - Musician Profile -->
    <div class="col-xs-7 col-sm-8 col-md-9 panel">
        <artist-name-profile class="col-xs-12"></artist-name-profile>
        <div class="col-xs-12 follow-container">
            <artist-follow-button artist="artist"></artist-follow-button>
        </div>
    </div>
    <div class="col-xs-5 col-sm-4 col-md-3 artist-profile-picture panel">
        <artist-picture artist="artist"></artist-picture>
        <artist-claim-panel ng-if="artist.is_generated"></artist-claim-panel>
    </div>
</div>

<ui-view class="col-xs-12 col-sm-8 col-md-9"></ui-view>
<div class="col-xs-12 col-sm-4 col-md-3 panel">
    <artist-bio></artist-bio>
</div>
