<div class="col-xs-12">
    <!-- Videos panel -->
    <panel ng-if="artist.video_link">
      <div class="videoWrapper" url="artist.video_link" no-embed></div>
    </panel>

    <panel>
        <div ng-repeat="activity in feed.results"
            class="row">
           <div tc-feed-card
               feed-item="activity">
           </div>
        </div>
        <h3 ng-if="feed.results.length < 1" class="col-xs-12">Feed empty for this artist.</h3>
    </panel>
</div>

<div ng-if="isAdmin" tc-tour="artist"></div>
