<!-- Settings Tier 1 column -->
<div class="col-sm-8 col-md-6 col-sm-push-4 col-md-push-3">
   <div class="row row-header">Owner</div>
   <div class="row">
      <span class="col-xs-6">{{artist.owner.name || 'No Name'}}</span>
      <span class="col-xs-6"
          contenteditable="{{ editOwner }}"
          ng-model="artist.owner.email"></span>
      <div class="col-xs-12">
         <button class="btn btn-danger"
             ng-show="!editOwner"
             ng-click="editOwner = true; tempOwner = artist.owner; artist.owner={}">Change Owner
         </button>
         <button class="btn btn-danger"
             ng-show="editOwner"
             ng-click="changeOwner(artist.owner.email)">Save
         </button>
         <button class="btn btn-primary"
             ng-show="editOwner"
             ng-click="editOwner = false; artist.owner=tempOwner">Cancel
         </button>
      </div>
   </div>

   <div class="row">&nbsp</div>
   <div class="row row-header">Admins</div>
   <div class="row"
       ng-repeat="admin in artist.admins">
      <span>{{admin.name || 'No Name'}}</span>
      <span>{{admin.email}}</span>
      <button class="btn btn-danger"
          ng-click="removeAdmin(artist.admins[$index].id)">Remove Admin</button>

   </div>
   <div class="row">
      <span class="col-xs-6"
          contenteditable="true"
          ng-model="newAdmin"
          default="New Admin"></span>
      <button class="btn btn-primary"
          ng-click="addAdmin()">
         <strong>Save Admin</strong>
      </button>
   </div>

   <div class="row">&nbsp</div>
   <div class="row row-header">Social Media Links</div>
   <div class="col-xs-12">Facebook</div>
   <div class="col-xs-12">Twitter</div>
   <div class="col-xs-12">YouTube</div>

   <!-- External Accounts -->
   <div class="row">&nbsp</div>
   <div class="row row-header">External Account Links</div>
   <div class="col-xs-12">Music Brainz</div>
   <div class="col-xs-12">EchoNest</div>

   <!-- Pending Event Invitations -->
   <div class="row">&nbsp</div>
   <div class="row row-header">Pending Event Invites</div>
   <div class="row"
       ng-repeat="event in artist.event_invitations"
       style="margin-bottom: 5px">
      <span class="col-xs-4"> {{event.name}} </span>
      <span class="col-xs-4">
         {{event.venue_name}}
      </span>
      <button class="btn col-xs-3">Accept</button>
   </div>
   <div class="row"
       ng-if="artist.event_invitations.length < 1">
      <span class="col-xs-12">
         <i>No Event Invitations</i>
      </span>
   </div>

   <!-- Upcoming Events -->
   <div class="row">&nbsp</div>
   <div class="row row-header">Upcoming Events</div>
   <div class="row"
       ng-repeat="event in artist.events"
       style="margin-bottom: 5px">
      <span class="col-xs-4">
         {{event.name}}
      </span>
      <span class="col-xs-4">
         {{event.venue_name}}
      </span>
      <button class="btn btn-danger col-xs-4"
          ng-click="leaveEvent(event.id)">Leave Event</button>
   </div>

   <!-- Delete the Artist Account -->
   <div class="row">&nbsp</div>
   <div class="row">&nbsp</div>
   <div class="row">
      <button type="button"
          class="col-xs-12 btn btn-danger"
          ng-click="delete()">
         <strong>X Delete Artist Profile X</strong>
      </button>
   </div>
</div>

