<!-- Discog songs -->
<div class="col-xs-12 panel">
   <button ng-if="isAdmin"
     class="col-xs-push-2 col-xs-8 btn btn-primary btn-lg"
     ui-sref="parent.artist.newrelease">
       Add Release
   </button>

   <!-- 'orderBy ... : true' means use reverse order -->
   <div ng-repeat="release in arc.releases | orderBy: 'publish_date' : true">
      <tc-release-card release="release"></tc-release-card>
   </div>
   <h3 ng-if="arc.releases.length < 1" class="col-xs-12">No releases for this artist.</h3>
</div>
