<!-- Name input -->
<div class="form-group">
    <label class="col-sm-4 control-label"
         for="name">Name<tc-required></tc-required></label>

    <div class="col-xs-12 col-sm-8 input-group">
        <input class="form-control input-text"
             ng-model="vm.artist.name"
             autofocus
             required
             id="name"
             name="name"></input>
        <div class="alert alert-danger" ng-if="vm.form.name.$touched && !vm.form.name.$valid">
          A name is required
        </div>
    </div>
</div>

<!-- Alias input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="alias">Tunecakes.com/artist/</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <input class="form-control input-text"
             ng-model="vm.artist.alias"
             pattern="[a-z0-9_]+"
             name="alias"
             id="alias"></input>
        <div class="alert alert-danger" ng-if="vm.form.alias.$touched && !vm.form.alias.$valid">
            Remember: No spaces, no upper case letters, and no dashes/periods/apostrophes/etc
        </div>
        <p id="input-support-text">
            This is the unique URL for your artist profile. You can only use
            lowercase letters, numbers, and underscores.
        </p>
    </div>
</div>

<!-- Picture upload input -->
<div class="form-group">
    <label class="col-sm-4 control-label">Profile Picture</label>

    <div class="col-sm-5 col-xs-12 input-group">
        <image-helper ng-model="vm.images.main"></image-helper>
        <p id="input-support-text">GIFs work too!</p>
    </div>
</div>

<!-- Member input -->
<div class="form-group">
    <label class="col-sm-4 control-label">Member(s)</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <div ng-repeat="member in vm.artist.members"
             class="col-xs-10 input-group form-control added-member"
             style="overflow: auto; height: auto;"
             name="members">
            <input class="col-xs-5 input-text input-member"
                 ng-model="member.name"
                 placeholder="Member Name"></input>
            <div class="col-xs-1 dash-member text-left">&#8211;</div>
            <input class="col-xs-5 input-text input-member"
                 ng-model="member.role"
                 placeholder="Member Role"></input>
            <div ng-click="vm.artist.members.splice($index, 1)"
                 class="btn-danger btn-tag-del del-member">&#10005;</div>
        </div>
        <div class="col-xs-5 btn-add-member">
            <button type="button"
                 ng-click="vm.artist.members.push({name:'', role:''})"
                 class="btn btn-primary form-control">
                Add Member
            </button>
        </div>
        <p id="input-support-text">Add yourself and your group members. You can also add everyone's role in the group.</p>
    </div>
</div>

<!-- Biography input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="biography">Biography</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <textarea class="form-control input-text"
             style="height: auto; min-height: 100px"
             ng-model="vm.artist.description"
             name="biography"
             id="biography"></textarea>
    </div>
</div>

<!-- Admin input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="Administrators">Administrators</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <div ng-repeat="admin in vm.artist.admins"
             class="col-xs-10 form-control added-member input-group"
             style="overflow: auto; height: auto;"
             name="adminEmails">
            <input class="col-xs-11 input-text input-member"
                 id="Administrators"
                 ng-model="admin.email"
                 placeholder="admin@email.com"></input>
            <div ng-click="vm.artist.admins.splice($index, 1)"
                 class="btn-danger btn-tag-del del-member">&#10005;</div>
        </div>
        <div class="col-xs-5 btn-add-member">
            <button type="button"
                 ng-click="vm.artist.admins.push({email:''})"
                 class="btn btn-primary form-control">
                Add Administrator
            </button>
        </div>
        <p id="input-support-text">If someone else in your band has a Tunecakes account you can add them by their email here. They'll be able to post and edit everything from your profile but they won't be able to add other administrators.</p>
    </div>
</div>

<!-- Artist website URL input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="official_site_url">Artist's Site URL</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <input class="form-control input-text"
             type="url"
             ng-model="vm.artist.official_site_url"
             id="official_site_url"
             name="official_site_url"></input>
        <p id="input-support-text">Your official website.</p>
        <div class="alert alert-danger" ng-if="vm.form.official_site_url.$touched && !vm.form.official_site_url.$valid">
          This is not a valid URL. Make sure to include http://
        </div>
    </div>
</div>

<!-- Facebook URL input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="facebook_url">Facebook URL</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <input class="form-control input-text"
             type="url"
             ng-model="vm.artist.facebook_url"
             id="facebook_url"
             name="facebook_url"></input>
        <p id="input-support-text">The URL of your facebook artist profile. If you want to synch your profiles go to artist settings.</p>
        <div class="alert alert-danger" ng-if="vm.form.facebook_url.$touched && !vm.form.facebook_url.$valid">
          This is not a valid URL. Make sure to include http://
        </div>
    </div>
</div>

<!-- Bandcamp page URL input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="bandcamp_url">Bandcamp URL</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <input class="form-control input-text"
             type="url"
             ng-model="vm.artist.bandcamp_url"
             id="bandcamp_url"
             name="bandcamp_url"></input>
        <p id="input-support-text">Your Bandcamp page.</p>
        <div class="alert alert-danger" ng-if="vm.form.bandcamp_url.$touched && !vm.form.bandcamp_url.$valid">
          This is not a valid URL. Make sure to include http://
        </div>
    </div>
</div>

<!-- Contact email input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="contact_email">Contact Email</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <input class="form-control input-text"
             type="email"
             ng-model="vm.artist.contact_email"
             id="contact_email"
             name="contact_email"></input>
        <p id="input-support-text">This is a public email people can use to contact you.</p>
        <div class="alert alert-danger" ng-if="vm.form.contact_email.$touched && !vm.form.contact_email.$valid">
          This is not a valid URL. Make sure to include http://
        </div>
    </div>
</div>

<!-- Tags input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="tags">Tags</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <div class="form-control input-text del"
             tag-helper
             ng-model="vm.artist.tags"
             edit-mode="true"
             style="padding: 0px;"
             id="tags"
             name="tags"></div>
        <p id="input-support-text">You can add up to five tags separated by a space or a comma.</p>
    </div>
</div>

<!-- Location input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="locationField">Location</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <google-place-autocomplete
             ng-model="vm.artist"
             region-only="true"
             placeholder="Enter a zip code, city, or country"
             id="locationField">
        </google-place-autocomplete>

        <p id="input-support-text">Enter the location where this artist is based.</p>
    </div>
</div>

<!-- Video url input -->
<div class="form-group">
    <label class="col-sm-4 control-label" for="video_link">Song URL</label>

    <div class="col-sm-8 col-xs-12 input-group">
        <!-- If this is input then we can use ui-validate-async -->
        <input type="url"
             ng-model="vm.artist.video_link"
             ui-validate-async="'vm.NoembedService.isUrlValid($value)'"
             class="form-control input-text"
             id="video_link"
             name="video_link">
        </input>
        <p id="input-support-text">You can use Youtube, Soundcloud, or Vimeo. Just grab the "share" URL for your song and paste it here.</p>
        <div class="alert alert-danger" ng-if="vm.form.video_link.$touched && !vm.form.video_link.$valid">
          We cannot use this URL for your song. Make sure it copied over correctly and that it is from one of the sites we support
        </div>
    </div>
</div>
