<p style="color: red">Privacy plugins such as Privacy Badger, uBlock, AdBlock, and NoScript can cause this page to break.
Make sure you turn these plugins off before trying to connect to social media sites</p>

<button class="btn btn-default col-xs-4"
    ui-sref="parent.artist.facebook.link"
    ng-if="!artist.social_accounts.facebook">
   Connect To Facebook
</button>
<button class="btn btn-default col-xs-4"
    ng-if="artist.social_accounts.facebook">
   Facebook Connected
   <img src="img/check_mark.png" style="height: 15px;">
</button>

<button class="btn btn-default col-xs-4"
    ng-click="authorizeTwitter(artist.id)"
    ng-if="!artist.social_accounts.twitter">
   Connect To Twitter
</button>
<button class="btn btn-default col-xs-4"
    ng-if="artist.social_accounts.twitter">
   Twitter Connected
   <img src="img/check_mark.png" style="height: 15px;">
</button>

<button class="btn btn-default col-xs-4"
    ng-if="!artist.social_accounts.instagram">
   Connect To Instagram
</button>
<button class="btn btn-default col-xs-4"
    ng-if="artist.social_accounts.instagram">
   Instagram Connected
   <img src="img/check_mark.png" style="height: 15px;">
</button>

<div class="col-xs-12" style="background-color:#ebe2f3; margin: 5px 0"
    ng-if="artist.facebook_id">
   <h3>Facebook Connections</h3>
   <button class="btn btn-default col-xs-5"
       ui-sref="parent.artist.facebook.posts">
      Import Facebook Posts
   </button>
   <button class="btn btn-default col-xs-5"
       ui-sref="parent.artist.facebook.events">
      Import Facebook Events
   </button>
   <tc-facebook-stats artist="artist"></tc-facebook-stats>
</div>
