<div class="col-xs-12 panel">
    <div class="col-xs-12 feed-card" ng-repeat="post in abc.posts | orderBy: 'create' : true">
        <div class="feed-card-heading col-xs-12">
            <h3 class="col-xs-8">{{post.title}}</h3>
            <i class="col-xs-4 text-right" style="padding:10px">{{post.created | date: 'MMM d, y'}}</i>
        </div>
        <div class="feed-card-img col-xs-12"
            ng-if="post.image_link"
            ng-style="{'background-image': 'url(' + post.image_link + ')'}"></div>
        <div class="feed-card-body col-xs-12">
            {{post.text}}
        </div>
    </div>
    <h3 ng-if="abc.posts.length < 1" class="col-xs-12">No blog posts for this artist.</h3>
</div>
