<button class="btn btn-default col-xs-10 art-card art-card-artist" ui-sref="parent.artist.profile({id: vm.artist.id})">
   <!-- Artist image. Fills the div without stretching -->
   <div class="card-img art-card-img"
       ng-if="vm.artist.image_link"
       ng-style="{'background-image': 'url(' + vm.artist.image_link + ')'}"></div>

   <div class="card-img art-card-img"
       ng-if="!vm.artist.image_link"
       ng-style="{'background-image': 'url(https://i.imgur.com/lo2VFMI.png)'}"></div>

   <!-- artist card header: Name, Location -->
   <h5 class="col-xs-7 art-card-name tc-truncate-single-line">{{::vm.artist.name}}</h5>

   <div class="col-xs-7 card-details art-card-details">
      <span>{{::vm.artist.city}}
		 <span ng-if="::vm.artist.state">
            <span ng-if="::vm.artist.city">
               ,
            </span>
            {{::vm.artist.state}}
         </span>
         <span ng-if="::vm.artist.country">
            <span ng-if="vm.artist.city || vm.artist.state">
               ,
            </span>
            {{::vm.artist.country}}
         </span>
      </span>
   </div>

   <!-- artist card body: Tags, ProfPic, BioSnippet -->
   <div class="hidden-xs col-sm-3 art-card-tags">
      <div tag-helper
          ng-model="::vm.artist.tags"
          class="col-xs-12"></div>
   </div>
</button>
<simple-artist-follow-button class="col-xs-2"></simple-artist-follow-button>
