<div class="row" style="margin-botton: 3px">
   <button class="btn btn-default col-xs-9" ng-click="vm.populateActivePosts()">
   Import these Facebook posts to Tunecakes
   </button>
   <button class="btn btn-default col-xs-3" ng-click="vm.nextPage()">Next Page</button>
</div>

<div class="row" ng-repeat="item in vm.feed" style="margin: 3px 0; background-color: #ebe2f3; border: solid 1px rgb(182, 153, 209)">
   <div class="col-xs-9 col-sm-10">{{ item.message }}</div>
   <button class="btn btn-primary col-xs-3 col-sm-2"ng-click="vm.saveFacebookPost(item.id, item.message)" class="btn">Add to Tunecakes</button>
</div>

<div class="row" style="margin-top: 3px">
   <button class="btn btn-default col-xs-9" ng-click="vm.populateActivePosts()">
   Import these Facebook posts to Tunecakes
   </button>
   <button class="btn btn-default col-xs-3" ng-click="vm.nextPage()">Next Page</button>
</div>
