<div class="col-xs-12 panel">
   <button ng-if="isAdmin"
     class="col-xs-push-2 col-xs-8 btn btn-primary btn-lg"
     ui-sref="parent.artist.newevent">
       Add Event
   </button>
   <div ng-repeat="event in aec.events | orderBy:'-start_date'">
      <tc-event-card event="event"></tc-event-card>
   </div>
   <h3 ng-if="aec.events.length < 1" class="col-xs-12">No events for this artist.</h3>
</div>
