<div class="col-xs-12 info-card">
    <artist-location class="main col-xs-12"></artist-location>
    <span class="main col-xs-7">Followers</span>
    <span class="main text-right col-xs-5">{{artist.followers}}</span>

    <span class="main col-xs-12" ng-if="artist.contact_email">Contact</span>
    <a class="sub col-xs-12"
       href="mailto:{{artist.contact_email}}?subject=We Found You On Tunecakes!">
        {{artist.contact_email}}
    </a>

    <span class="main col-xs-12" ng-if="artist.members.length > 0">Members</span>
    <artist-members class="col-xs-12 sub"></artist-members>

    <span class="main col-xs-12" ng-if="artist.description">Biography</span>
    <span class="sub col-xs-12">{{artist.description}}</span>

    <span class="main col-xs-12">Tags</span>
    <tag-helper class="sub col-xs-12" ng-model="artist.tags"></tag-helper>


    <artist-external-profiles class="main col-xs-12" artist="artist"></artist-external-profiles>
</div>
