<form name="vm.form"
    class="col-xs-12"
    autocomplete="on"
    button-id="artistUpdate">
  <tc-artist-form-simple class="panel col-xs-12"></tc-artist-form-simple>

  <button type="submit"
      class="col-xs-6 col-xs-push-3 artnavitem btn btn-lg btn-warning"
      ng-click="vm.save()"
      id="artistUpdate">
      <strong>Save</strong>
  </button>
</form>
