<div class="col-sm-6">
    <form class="form-horizontal" role="form">

        <!-- Facebook page -->
        <div class="form-group">
            <label class="col-sm-4">Facebook page</label>

            <div class="col-sm-8">
                <input type="url"
                       class="form-control">
            </div>
        </div>

        <!-- Official website -->
        <div class="form-group">
            <label class="col-sm-4">Official page</label>

            <div class="col-sm-8">
                <input type="url"
                       class="form-control">
            </div>
        </div>

        <!-- Twitter page -->
        <div class="form-group">
            <label class="col-sm-4">Twitter profile</label>

            <div class="col-sm-8">
                <input type="url" class="form-control">
            </div>
        </div>

        <!-- Submit button -->
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success pull-right" ng-click="Diego">
                    Next Step
                </button>
            </div>
        </div>

    </form>
</div>