<div class="col-sm-12 col-md-7 panel">
   <h3 class="col-xs-12 text-center">Make an Artist Profile</h3>

   <artist-form artist="vm.newArtist"></artist-form>
</div>

<div class="col-sm-12 col-md-5">
   <div class="panel panel-headless">
      <h3>Post to all your accounts from one place!</h3>
      <p>Connect your Facebook, Twitter, and other accounts to Tunecakes (we're adding new ones periodically).
         Any time you post something with us, we'll duplicate it on your other accounts.
      </p>
      <h3> Connect directly with your fans!</h3>
      <p> When fans follow you, they can choose to track your concerts, your releases, or your other
         social media posts. Eventually this will include videos and crowdfunding campaigns. Any
         time you post an update, fans tracking that type of updates will receive a notification.
         No more stragglers finding out your album came out last year, now they'll know right
         away.
      </p>

      <h3> Get help with your profile!</h3>
      <p>Need help keeping up with your social media duties? You can give administrator privileges
         to other folks. They can make, edit, and delete posts as well as edit your musician profile.
         As the owner, only you can add or remove administrators.
      </p>
      <h3>Showcase your music!</h3>
      <p>The video you choose shows up in your profile and any concerts you are a part of. Now fans
         can get an idea of your music without going somewhere else to search for it.</p>
   </div>
</div>
