<div ng-repeat="artist in artists track by $index"
    class="added-member input-group btn-group"
    uib-dropdown
    keyboard-nav
    ng-if="artist.name != undefined"
    is-open="isopen[$index]">
   <input type="text"
       id="artist_input"
       class="form-control input-text"
       ng-model="artists[$index]"
       ng-show="!artist.id"
       ng-model-options="{updateOn: 'default'}"
       autocomplete="off"
       focus-if='$index == focusIndex'
       tc-dropdown-query>
   </input>
   <ul id="marquee"
       ng-if="artist.id">
      <li>{{ artist.name }}</li>
   </ul>
   <ul class="dropdown-menu dropdown-menu-left"
       uib-dropdown-menu
       role="menu">
      <li role="menuitem"
          ng-repeat="result in results">
         <a href=""
             ng-click="select(result)">{{result._source.name}}</a>
      </li>
   </ul>
   <span class="input-group-btn">
      <button type="button"
          ng-click="removeArtist(artist)"
          class="btn btn-danger btn-tag-del">&#10005;
      </button>
   </span>
</div>
<div class="row">
   <div class="btn-add-member col-xs-offset-2 col-xs-8 col-sm-6 col-sm-offset-3">
      <button type="button"
          ng-click="addArtist()"
          class="btn btn-primary form-control">
         Add Artist
      </button>
   </div>
</div>
