<div class="col-xs-12">
    <h3>Event calendar for
    <google-place-autocomplete id="event-cal-location"
        ng-model="vm.place"
        default-location="vm.defaultLocation"
        region-only="true"
        update-location="vm.onLocationUpdate(location)">
    </google-place-autocomplete>
    </h3>
</div>
<div id="calendar-container" class="col-xs-12">
    <div id="tcCalendar"
         class="col-xs-8 col-sm-9 col-md-10"
         calendar="tcCalendar"
         ui-calendar="vm.config"
         ng-model="vm.eventSources"></div>

    <div class="col-xs-4 col-sm-3 col-md-2 calendar-tag-filter-container">
        <h3 id="calendar-tag-filter-header">Tag Filter</h3>
    
        <div class="col-xs-12 calendar-tag-container">
            <a class="text-center tag-container all-tag-container"
               ng-click="vm.deactivateTagFilters()"
               data-ng-class="{'active' : vm.activeTags.length == 0}">
                All Tags
            </a>
            <a class="tag-container"
               ng-repeat="t in vm.tags | orderBy: vm.getTagCount : true"
               ng-click="vm.toggleTagFilter(t)"
               data-ng-class="{'active' : vm.activeTags.includes(t)}">
                {{ t }} {{ vm.tagsMap[t].count }}
            </a>
        </div>
    </div>
</div>
