<tc-search-filters class="col-xs-12 col-sm-4"></tc-search-filters>
<div class="col-xs-12 col-sm-8">
    <header-panel ng-if="params.search_type !== 'event'">
        <panel-heading>Artists</panel-heading>
        <panel-body>
            <i ng-if="results.artists.length < 1">No artists found with this info</i>
            <div class="col-xs-12"
                ng-repeat="artist in results.artists">
               <tc-artist-card class="col-xs-12"
                   artist="artist._source"
                   analytics-on="click"
                   analytics-event="Search Clickthrough"
                   analytics-position="{{$index}}"
                   analytics-type="artist"></tc-artist-card>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <button class="btn btn-default btn-lg col-xs-10 col-xs-push-1" ng-click="prevArtistPage()">
                        Prev
                    </button>
                </div>
                <div class="col-xs-4 text-center">Page {{params.artist_page}}</div>
                <div class="col-xs-4">
                    <button class="btn btn-default btn-lg col-xs-10 col-xs-push-1" ng-click="nextArtistPage()">
                        Next
                    </button>
                </div>
            </div>
        </panel-body>
    </header-panel>
    <header-panel ng-if="params.search_type !== 'artist'">
        <panel-heading>Events</panel-heading>
        <panel-body>
            <i ng-if="results.events.length < 1">No events found with this info</i>
            <div class="col-xs-12"
                ng-repeat="event in results.events">
               <tc-event-card class="col-xs-12"
                   event="event._source"
                   analytics-on="click"
                   analytics-event="Search Clickthrough"
                   analytics-position="{{$index}}"
                   analytics-type="event"></tc-event-card>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <button class="btn btn-default btn-lg col-xs-10 col-xs-push-1" ng-click="prevEventPage()">
                        Prev
                    </button>
                </div>
                <div class="col-xs-4 text-center">Page {{params.event_page}}</div>
                <div class="col-xs-4">
                    <button class="btn btn-default btn-lg col-xs-10 col-xs-push-1" ng-click="nextEventPage()">
                        Next
                    </button>
                </div>
            </div>
        </panel-body>
    </header-panel>
</div>
