<div class="col-xs-12 info-card">
    <h5 class="main col-xs-12 text-center" style="margin: 0">Search Filters</h5>
    <span class="main col-xs-12">Search Type</span>
    <button class="col-xs-12 btn btn-primary"
        ng-click="artistFilterClick()">
       Artists
       <img ng-if="params.search_type === 'artist'"
           height="15px"
           width="15px"
           ng-src="/img/check_mark.png">
    </button>
    <button class="col-xs-12 btn btn-primary"
        ng-click="eventFilterClick()">
       Events
       <img ng-if="params.search_type === 'event'"
           height="15px"
           width="15px"
           ng-src="/img/check_mark.png">
    </button>
    
    <span class="main col-xs-12">Tag Filter</span>
    <div name="tags"
        class="sub col-xs-12 form-control input-text del"
        tag-helper
        ng-model="tags"
        edit-mode="true"
        style="border: 0px; padding: 0;"></div>
    <div class="btn btn-primary col-xs-12" ng-click="updateTags()">
        Update Search Tags
    </div>
    
    <span class="main col-xs-12">Location</span>
    <google-place-autocomplete id="google-container"
        ng-model="locationStub"
        region-only="true"
        update-location="onLocationUpdate(location)">
    </google-place-autocomplete>
    
    <span class="main col-xs-12">Search Radius</span>
    <button class="col-xs-12 btn btn-primary"
        ng-click="worldFilterClick()">
       Infinite
       <img ng-if="locationFilter === 'worldFilter'"
           height="15px"
           width="15px"
           ng-src="/img/check_mark.png">
    </button>
    <button class="col-xs-12 btn btn-primary"
        ng-click="farFilterClick()">
       100 KM
       <img ng-if="locationFilter === 'farFilter'"
           height="15px"
           width="15px"
           ng-src="/img/check_mark.png">
    </button>
    <button class="col-xs-12 btn btn-primary"
        ng-click="mediumFilterClick()">
       50 KM
       <img ng-if="locationFilter === 'mediumFilter'"
           height="15px"
           width="15px"
           ng-src="/img/check_mark.png">
    </button>
    <button class="col-xs-12 btn btn-primary"
        ng-click="closeFilterClick()">
       15 KM
       <img ng-if="locationFilter === 'closeFilter'"
           height="15px"
           width="15px"
           ng-src="/img/check_mark.png">
    </button>
</div>
