<div class="col-xs-10" style="margin-bottom: 2px">
   <input type="text"
      ng-keyup="$event.keyCode == 13 && vm.search(vm.searchText)"
      ng-change="vm.quickSearch(vm.searchText)"
      ng-model="vm.searchText"
      ng-model-options="{ debounce: 200  }"
      class="form-control"
      id="nav-search-bar"
      style="width:100%;"
      placeholder="Find musicians and events!" />
    <div class="quick-search-results" ng-if="vm.quickSearchMenuVisible">
        <a class="close-quick-search" ng-click="vm.quickSearchMenuVisible = false">&#10062;</a>
        <div class="quick-search-title" ng-if="vm.quickArtists.length">
            Search by artist name...
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12" ng-repeat="a in vm.quickArtists">
                <a ng-click="vm.search(a._source.name)">
                    {{a._source.name}}
                </a>
            </div>
        </div>
        <div class="quick-search-title" ng-if="vm.quickLocations.length">
            Search by location...
        </div>
        <div class="col-xs-12">
            <div ng-repeat="l in vm.quickLocations">
                <a ng-click="vm.searchByLocation(l)">
                    {{l.formatted_address}}
                </a>
            </div>
        </div>
    </div>
</div>

<button type="submit"
   ng-click="vm.search(vm.searchText)"
   class="nav-text-button col-xs-2"
   style="height: 34px">
   <strong>Search</strong>
</button>
