<!-- Navigation buttons -->
<div class="btn-group btn-group-justified">
    <a class="btn btn-primary" role="button" ng-click="vm.prevPage()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page - 2)"
       ng-show="vm.page > 1">{{vm.page - 1}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page - 1)"
       ng-show="vm.page > 0">{{vm.page}}</a>
    <a class="btn btn-outline-primary" ng-click="vm.setPage(vm.page)"> {{vm.page + 1}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page + 1)"
       ng-show="vm.page < vm.totalPages - 1"> {{vm.page + 2}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage( vm.page + 2)"
       ng-show="vm.page < vm.totalPages - 2"> {{vm.page + 3}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page + 3)"
       ng-show="vm.page < vm.totalPages - 3"> {{vm.page + 4}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page + 4)"
       ng-hide="vm.page > 1 || vm.totalPages < 4"> {{vm.page + 5}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page + 5)"
       ng-hide="vm.page > 0 || vm.totalPages < 5"> {{vm.page + 6}}</a>
    <a class="btn btn-primary" ng-click="vm.nextPage()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>

<!-- Tag filter -->
<div class="col-xs-12 col-sm-3 col-sm-push-9 calendar-tag-filter-container" style="margin-top: 5px;">
    <h3 id="calendar-tag-filter-header">Tag Filter</h3>

    <div class="col-xs-12 calendar-tag-container">
        <a class="text-center tag-container all-tag-container"
           ng-click="vm.deactivateTagFilters()"
           data-ng-class="{'active' : vm.activeTags.length == 0}">
            All Tags
        </a>
        <a class="tag-container"
           ng-repeat="t in vm.tags | orderBy: vm.getTagCount : true | limitTo: 25"
           ng-click="vm.toggleTagFilter(t)"
           data-ng-class="{'active' : vm.activeTags.includes(t)}">
            {{ t }} {{ vm.tagsMap[t].count }}
        </a>
    </div>
</div>

<!-- FIXME: If there's an artist without a video_link the page will be short -->
<ul class="list-group col-xs-12 col-sm-9 col-sm-pull-3">
  <li class="list-group-item artist-sampler-card"
  ng-repeat="aid in vm.activeArtists | orderBy:vm.activeArtistOrder"
  ng-show="vm.artistMap[aid].artist.video_link">

    <!-- video embeds -->
    <div url="vm.artistMap[aid].artist.video_link"
    class="text-center col-xs-12"
    no-embed></div>

    <!-- Artist name and tags -->
    <div class="col-xs-12 col-sm-4">
      <a class="art-card-name"ui-sref="parent.artist.profile({id: vm.artistMap[aid].artist.alias})">
        {{ vm.artistMap[aid].artist.name }}
      </a>
      <br>
      <tag-helper class="hidden-xs" ng-model="vm.artistMap[aid].artist.tags"></tag-helper>
    </div>

      <!-- Artist's upcoming concerts (3 max) -->
    <div class="col-sm-8">
      <p ng-repeat="event in vm.artistMap[aid].events | limitTo:3 | orderBy: 'start_date'">
        <a ui-sref="parent.event.main({id: event.id})">
        {{event.start_date | date: 'yyyy-MM-dd'}}</a> - {{event.venue_name}}, {{event.city}}, {{event.state}}
      </p>

      <!-- More button shows up if there's 3 or more events -->
      <a ng-if="vm.artistMap[aid].events.length > 3"
      ui-sref="parent.artist.events({id: vm.artistMap[aid].artist.alias})">All {{vm.artistMap[aid].artist.name}} concerts</a>
    </div>
    <p class="text-center">.</p>
  </li>
</ul>

<div class="btn-group btn-group-justified">
    <a class="btn btn-primary" role="button" ng-click="vm.prevPage()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page - 2)"
       ng-show="vm.page > 1">{{vm.page - 1}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page - 1)"
       ng-show="vm.page > 0">{{vm.page}}</a>
    <a class="btn btn-outline-primary" ng-click="vm.setPage(vm.page)"> {{vm.page + 1}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page + 1)"
       ng-show="vm.page < vm.totalPages - 1"> {{vm.page + 2}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage( vm.page + 2)"
       ng-show="vm.page < vm.totalPages - 2"> {{vm.page + 3}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page + 3)"
       ng-show="vm.page < vm.totalPages - 3"> {{vm.page + 4}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page + 4)"
       ng-hide="vm.page > 1 || vm.totalPages < 4"> {{vm.page + 5}}</a>
    <a class="btn btn-primary" ng-click="vm.setPage(vm.page + 5)"
       ng-hide="vm.page > 0 || vm.totalPages < 5"> {{vm.page + 6}}</a>
    <a class="btn btn-primary" ng-click="vm.nextPage()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>

