<!--Feedback-->
<!-- <a href="feedback">
     <span class="feedbackTag rotate-90">
     Feedback
     </span>
     </a> -->

<!--Row for Maj-nfo + Inv-frm-->
<div class="row text-center">
    <panel>
        <h1 id="slogan">
           Less work. More music.
        </h1>
        <p class="front-page-text">No more announcements getting lost in your newsfeed, no more advertising to reach your
           audience. Tunecakes connects fans and musicians directly.
        </p>
    </panel>
</div>

<hr/>

<div class="row">
    <tc-event-calendar></tc-event-calendar>
</div>

<hr/>

<!-- Value propositions -->
<div class="row">

   <!-- Musician section -->
   <div class="col-xs-12 col-sm-6">
      <div class="col-xs-12 col-sm-6 col-sm-push-3">
         <img class="main" ng-src="/img/mlogol.svg" />
      </div>
      <div class="row col-xs-12">
         <h2 class="front-page-header">For musicians!</h2>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-push-1">
         <ul class="front-page-text">
            <li>
               <strong>Save time:</strong> Tunecakes automatically copies your posts to your other
               social media accounts. We can also pull existing information into your Tunecakes
               profile.
            </li>

            <li>
               <strong>Bypass the timeline:</strong> No more paying to “boost your post”! Fans receive
               a notification as soon as you update a topic they are tracking (concerts, albums,
               or other media posts). It’s like a targeted email list.
            </li>

            <li>
               <strong>Find your fans:</strong> Check out a map of where your fans are and plan tours
               based on their location (coming soon).
            </li>
            </p>
      </div>
   </div>

   <!-- Fan section -->
   <div class="col-sm-6">
      <div class="col-sm-6 col-sm-push-3">
         <img class="main" ng-src="/img/flogol.svg" />
      </div>
      <div class="row col-xs-12">
         <h2 class="front-page-header">For fans!</h2>
      </div>
      <div class="col-sm-10 col-sm-push-1">
         <ul class="front-page-text">
            <li>
               <strong>Notifications:</strong> Receive a notification as soon as an artist posts about
               a topic you are tracking (concerts, albums, etc).
            </li>
            <li>
               <strong>Weekly summary:</strong> Tunecakes sends you a weekly summary of new albums
               released during the past week and concerts coming during the next week for musicians
               you follow.
            </li>
            <li>
               <strong>Upcoming shows:</strong> Your fan dashboard displays a list of all upcoming
               shows in your area.
            </li>
         </ul>
      </div>
   </div>
</div>

<hr/>

<!--Video-->
<div class="row">
   <div class="text-center tcVid col-md-push-2 col-md-8">
      <div class="videoWrapper">
         <iframe width="560"
             height="315"
             src="https://www.youtube.com/embed/5e-Jh-bbxfg"
             frameborder="0"
             allowfullscreen>
         </iframe>
      </div>
   </div>
</div>

<hr/>

<tc-scroll-down></tc-scroll-down>
