<div ng-controller="newPostCtrl">
   <form  class="form-horizontal modal-body"
       role="form"
       name="event-form"
       autocomplete="on">

      <div class="panel col-xs-12">
         <h3 class="col-xs-6">New Blog Post</h3>
         <tc-required-info class="col-xs-6 text-right" style="margin-top: 30px"></tc-required-info>
      </div>

      <div class="panel col-xs-12">
         <div class="row">
            Title
         </div>
         <input name="paragraph"
             ng-model="post.title"
             type="text"
             class="form-control input-text">
         </input>
      </div>

      <div class="panel col-xs-12 col-sm-4">
         <div class="col-xs-12">
             Picture
         </div>
         <div class="col-xs-12 input-group dndArea">
            <div image-helper
                ng-model="images.main"
                style="height: 100%;">
            </div>
         </div>
      </div>

      <div class="panel col-xs-12 col-sm-8">
         <div class="col-xs-12">
             Summary
         </div>
         <textarea name="paragraph"
             ng-model="post.tweet_text"
             type="text"
             class="panel form-control input-text">
         </textarea>
      </div>

      <div class="panel col-xs-12 col-sm-8">
         <div class="row">
             Post Body
             <tc-required></tc-required>
         </div>
         <textarea name="paragraph"
             ng-model="post.text"
             type="text"
             class="form-control input-text"
             required>
         </textarea>
      </div>

      <!-- Social Media and Submit -->
      <div class="panel col-xs-12">
         <button type="button"
             class="btn social"
             ng-click="toggleTwitter()">
            <img class="social-twitter" src="img/twitter_logo.png" style="height: 30px;">
            <div class="tc-btn-disabled" ng-if="!artist.social_accounts.twitter || useTwitter"></div>
            <img class="tc-btn-selected" src="img/check_mark.png"  ng-if="artist.social_accounts.twitter && useTwitter">
            Post to Twitter
         </button>
         <button type="button"
             class="btn social"
             ng-click="toggleFacebook()">
            <img src="img/facebook_logo.png" style="height: 30px;">
            <div class="tc-btn-disabled" ng-if="!artist.social_accounts.facebook || useFacebook"></div>
            <img class="tc-btn-selected" src="img/check_mark.png" ng-if="artist.social_accounts.facebook && useFacebook">
            Post to Facebook
         </button>
      </div>

      <div class="panel col-xs-6 col-sm-4">
         <button type="submit"
             ng-click="submit()"
             class="col-xs-12 btn btn-success"
             style="height:40px;">
            <strong>Submit</strong>
         </button>
      </div>
   </form>
</div>
