<div>
   <p ng-if="object.text != null">{{object.text}}</p>
   <tc-img ng-if="object.image != null"
       class="col-xs-12"
       src="object.image" /></tc-img>

   <div ng-if="object.video != null"
       class="videoWrapper"
       style="border: 1px solid red;">
      <div no-embed
          url="object.video"></div>
   </div>
</div>